<ng-container *ngIf="isLoaded;else notLoadedYet">
  <div *ngIf="logs.length>0;else noLogs" class="table-responsive">
    <table class="table table-borderless">
      <thead class="latoRegular f14">
        <tr>
          <th translate scope="col">Utilisateur</th>
          <th translate scope="col">Modification</th>
          <th translate scope="col">Date de modification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td class="latoRegular f14 deepBlue">{{log.actor.type==="admin"?"Directeur":"Assistant"}}</td>
          <td class="latoRegular f14 deepBlue">{{log.description}}</td>
          <td class=" latoRegular f14 deepBlue">{{log.action_time|date:'dd/MM/yyyy'}}</td>
        </tr>
  
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noLogs>
  <div class=" d-flex justify-content-center pt-5">
    <span class="text-center latoMeduim f18 lightBlue">Cet étudiant n'a pas été modifié encore </span>
  </div>
</ng-template>
<ng-template #notLoadedYet>
  <div class="h-75 d-flex justify-content-center align-items-center"><app-loading ></app-loading></div>
</ng-template>