<div *ngIf="!showDiv;else template">
  <div *ngIf="payments.length>0;else noPayments" class="table-responsive">
    <table class="table table-borderless">
      <thead class="latoRegular f14">
        <tr>
          <th scope="col">Nom de la session</th>
          <th scope="col">Nom de formation</th>
          <th scope="col">Tranches</th>
          <th scope="col">Date de debut</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Prix</th>
          <th scope="col">Payer</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container   *ngFor="let payment of payments">
          <tr (click)="payment.isCollapsed = !payment.isCollapsed" [attr.aria-expanded]="!payment.isCollapsed" aria-controls=payment.id class="clickableTr">
            <td class="latoRegular f14 deepBlue">{{payment.course_verbose?.session_verbose.name}}</td>
            <td class="latoRegular f14 deepBlue">{{payment.course_verbose?.name}}</td>
            <td class="latoRegular f14 deepBlue">
                <div class="d-flex">
                    <div class="d-flex p-1 border">
                        <div  *ngFor="let item of [1,2,3]" class="vlGreen mr-1"></div>
                        <div  *ngFor="let item of [1,2,3]" class="vlGrey mr-1"></div>
                    </div>
                </div>
            </td>
            <td class="latoRegular f14 deepBlue">{{payment.course_verbose?.starting_date|date:'dd/MM/yyyy'}}</td>
            <td class="latoRegular f14 deepBlue">{{payment.course_verbose?.finishing_date|date:'dd/MM/yyyy'}}</td>
            <td class="latoRegular f14 deepBlue">{{payment.course_verbose?.fee.toLocaleString()}} Da</td>
            <td class="latoRegular f14 greenColor">{{payment.amount.toLocaleString()}} Da</td>
            <td>
                <button class="btn collapseBtn d-flex justify-content-center align-items-center" ><img src="../../../../assets/images/svg/icons/blueArrow.svg"style="transform:rotate(-90deg)" alt=""></button>
            </td>
          </tr>
          <tr class="hide-table-padding">
            <td colspan="4"></td>
            <td colspan="4">
            <div id="{{payment.id}}" [collapse]="payment.isCollapsed" class="collapse in p-3">
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoRegular f14 deepBlue">Paiement 1:</span></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoRegular f12 12/12/2020">12/12/2020</span></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 deepBlue">10,000,00 Da</span></div>
              </div>
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoRegular f14 deepBlue">Total:</span></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 deepBlue">10,000,00 Da</span></div>
              </div>
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoBold f14 greenColor">Prix:</span></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 greenColor">20,000,00 Da</span></div>
              </div>
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoBold f14 redColor">Reste:</span></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 redColor">10,000,00 Da</span></div>
              </div>
            </div></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>
<ng-template #template>
  <div class="d-flex mt-3 mt-lg-0">
    <button class="btn outletPrimary latoBold py-6 px-md-4 px-lg-1 px-xl-5 mr-lg-2 mr-md-3 mr-2 borderRadsuis10 f14"(click)="addPaiment()">Ajouter un paiement</button>
    <button class="btn dangerousBtn latoBold py-6 px-md-4 px-lg-1 px-xl-5 borderRadsuis10 f14">Annuler un paiement</button>
  </div>
</ng-template>

<div bsModal #paimentModal="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="paimentModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue">Ajouter un paiement</span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4" (click)="addPayment(paiment.value)"> Sauvegarder</button>
        </div>
        <form [formGroup]="paiment" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue">Nom de la Formation<span
                class="redColor">*</span></label>
              <select  formControlName="course" [ngClass]="{'is-invalid': f.course.errors &&submit}" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue">
                <option  [ngValue]=null>Choisir une formation</option>
                <option *ngFor="let course of courses" [ngValue]=course.id>{{ course.name }}</option>
              </select>
            </div>
           
            <div class="form-group col-md-8" >
              <label for="date" class="latoBold f14 deepBlue">Date de paiment <span
                  class="redColor">*</span></label>
              <input type="text" formControlName="date" placeholder="Date d'enregistrement"
                [ngClass]="{'is-invalid': submit&&f.date.errors}"
                class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                container="" [bsConfig]="bsConfig" placement="bottom">
            </div>
            <div class="form-group col-md-8 d-flex flex-column">
              <span for="surname" class="latoBold f14 deepBlue">Nom de l'etudiant</span>
              <span class="latoBold f14 lightBlue mt-3 ml-3"> {{ this.student.user.family_name }} {{ this.student.user.name }}</span>
            </div>
            <div class="form-group col-md-8 mt-2">
              <label for="paiment" class="latoBold f14 deepBlue">Paiement<span
                class="redColor">*</span></label>
              <input type="number" [ngClass]="{'is-invalid': f.amount.errors &&submit}" formControlName="amount" class="customInputNumber form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="paiment" placeholder="00,00 Da" >
            </div>
            <div class="form-group col-md-8">
              <label for="note" class="latoBold f14 deepBlue">Note de paiment<span
                class="redColor">*</span></label>
              <textarea class="form-control" formControlName="note" class="customInputNumber form-control customFomControl  latoMeduim f14 deepBlue" id="note" rows="3" [ngClass]="{'is-invalid': f.note.errors &&submit}"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #noPayments>
  <div class=" d-flex justify-content-center pt-5">
    <span class="text-center latoMeduim f18 lightBlue">Cet  étudiant n'a pas encore payé, appuyez sur "Ajouter un paiment" pour inséerer un nouveau paiment</span>
  </div>
</ng-template>