<div *ngIf="!showDiv;else template">

 <ng-container *ngIf="isLoaded;else notLoaded">
  <div *ngIf="memeberships.length>0;else noPayments" class="table-responsive">
    <table class="table table-borderless">
      <thead class="latoRegular f14">
        <tr>
          <th scope="col"translate>Nom de la session</th>
          <th scope="col"translate>Nom de formation</th>
          <th scope="col">Tranches</th>
          <th scope="col"translate>Date de debut</th>
          <th scope="col" translate>Date de fin</th>
          <th scope="col"translate>Prix</th>
          <th scope="col"translate>Payer</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container   *ngFor="let memberShip of memeberships">
          <tr (click)="memberShip.isCollapsed = !memberShip.isCollapsed" [attr.aria-expanded]="!memberShip.isCollapsed" aria-controls=payment.id class="clickableTr">
            <td class="latoRegular f14 deepBlue">{{memberShip.course_verbose?.session_verbose.name}}</td>
            <td class="latoRegular f14 deepBlue">{{memberShip.course_verbose?.name}}</td>
            <td class="latoRegular f14 deepBlue d-flex justify-content-center align-items-center">
                <div style="width: 110px;height: 50px;">
                  <canvas baseChart style="width: 110px;height: 50px;"
                  [datasets]=memberShip.pieChartdata
                 [labels]=memberShip.pieChartLabel
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  [colors]="pieChartColors"
                  >
          </canvas></div>
            </td>
            <td class="latoRegular f14 deepBlue">{{memberShip.course_verbose?.starting_date|date:'dd/MM/yyyy'}}</td>
            <td class="latoRegular f14 deepBlue">{{memberShip.course_verbose?.finishing_date|date:'dd/MM/yyyy'}}</td>
            <td class="latoRegular f14 deepBlue">{{memberShip.course_verbose?.fee.toLocaleString()}} {{ 'Da' | translate }}</td>
            <td class="latoRegular f14 greenColor">{{memberShip?.paid_fee.toLocaleString()}} {{ 'Da' | translate }}</td>
            <td>
                <button class="btn collapseBtn d-flex justify-content-center align-items-center" ><img src="../../../../assets/images/svg/icons/blueArrow.svg" class="blueArrow" alt=""></button>
            </td>
          </tr>
          <tr class="hide-table-padding">
            <td colspan="4"></td>
            <td colspan="4">
            <div id="{{memberShip.id}}" [collapse]="memberShip.isCollapsed" class="collapse in p-3">
              <div *ngFor="let payement of memberShip.payments;let index=index" class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoRegular f14 deepBlue">{{ 'Paiement' | translate }} {{index+1}}:</span></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoRegular f12 12/12/2020">{{payement.date}}</span></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 deepBlue">{{payement.amount.toLocaleString()}} {{ 'Da' | translate }}</span></div>
              </div>
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoRegular f14 deepBlue">{{ 'Total' | translate }}:</span></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 deepBlue">{{memberShip?.paid_fee.toLocaleString()}} {{ 'Da' | translate }}</span></div>
              </div>
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoBold f14 greenColor">{{ 'Prix' | translate }}:</span></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 greenColor">{{memberShip.course_verbose?.fee.toLocaleString()}} {{ 'Da' | translate }}</span></div>
              </div>
              <div class="row mb-2">
                <div class="col-4 d-flex justify-content-end"><span class="latoBold f14 redColor">{{ 'Reste' | translate }}:</span></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col-4 d-flex justify-content-center"><span class="latoBold f14 redColor">{{memberShip?.due_fee.toLocaleString()}} {{ 'Da' | translate }}</span></div>
              </div>
            </div></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
 </ng-container>
</div>
<ng-template #template>
  <div class="d-flex mt-3 mt-lg-0">
    <button class="btn outletPrimary latoBold py-6 px-md-4 px-lg-1 px-xl-5 mr-lg-2 mr-md-3 mr-2 borderRadsuis10 f14"(click)="addPaiment()"translate>Ajouter un paiement</button>
    <button class="btn dangerousBtn latoBold py-6 px-md-4 px-lg-1 px-xl-5 borderRadsuis10 f14"(click)="openDeletePaymentModal()" translate>Annuler un paiement</button>
  </div>
</ng-template>

<div bsModal #paimentModal="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="paimentModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue"translate>Ajouter un paiement</span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4" (click)="addPayment(paiment.value)"translate> Sauvegarder</button>
        </div>
        <form [formGroup]="paiment" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue"translate>Nom de la formation<span
                class="redColor">*</span></label>
              <select  formControlName="course" [ngClass]="{'is-invalid': f.course.errors &&submit}" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue">
                <option  [ngValue]=null translate>Choisir une formation</option>
                <option *ngFor="let course of courses" [ngValue]=course.id>{{ course.name }}</option>
              </select>
            </div>
           
            <div class="form-group col-md-8" >
              <label for="date" class="latoBold f14 deepBlue"translate>Date de paiement <span
                  class="redColor">*</span></label>
              <input type="text" formControlName="date" placeholder="{{ 'Date enregistrement' | translate }}"
                [ngClass]="{'is-invalid': submit&&f.date.errors}"
                class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                container="" [bsConfig]="bsConfig" placement="bottom">
            </div>
            <div class="form-group col-md-8 d-flex flex-column">
              <span for="surname" class="latoBold f14 deepBlue"translate>Nom de l'etudiant</span>
              <span class="latoBold f14 lightBlue mt-3 ml-3"> {{ this.student.user.family_name }} {{ this.student.user.name }}</span>
            </div>
            <div class="form-group col-md-8 mt-2">
              <label for="paiment" class="latoBold f14 deepBlue" translate>Paiement<span
                class="redColor">*</span></label>
              <input type="number" [ngClass]="{'is-invalid': f.amount.errors &&submit}" formControlName="amount" class="customInputNumber form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="paiment" placeholder="00,00 Da" >
                <small *ngIf=" f.amount.errors?.max &&submit" class="latoRegular f12 redColor"translate>Vous ne pouvez pas insérer un paiment plus grand que les frais dus</small>
            </div>
            <div class="form-group col-md-8">
              <label for="note" class="latoBold f14 deepBlue"translate>Note de paiement<span
                class="redColor">*</span></label>
              <textarea class="form-control" formControlName="note" class="customInputNumber form-control customFomControl  latoMeduim f14 deepBlue" id="note" rows="3" [ngClass]="{'is-invalid': f.note.errors &&submit}"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #deletePaymentModal="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="deletePaymentModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue"translate>Ajouter un paiement</span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4" (click)="deletePaiment(deletePayment.value)"translate> Sauvegarder</button>
        </div>
        <form [formGroup]="deletePayment" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue"translate>Nom de la formation<span
                class="redColor">*</span></label>
              <select (change)="selectCourse()" formControlName="course" [ngClass]="{'is-invalid': g.course.errors &&submit}" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue">
                <option disabled [ngValue]=null translate>Choisir une formation</option>
                <option *ngFor="let course of courses" [ngValue]=course.id>{{ course.name }}</option>
              </select>
            </div>
            <div class="form-group col-md-8 d-flex flex-column">
              <span for="surname" class="latoBold f14 deepBlue"translate>Nom de l'etudiant</span>
              <span class="latoBold f14 lightBlue mt-3 ml-3"> {{ this.student.user.family_name }} {{ this.student.user.name }}</span>
            </div>
            <div class="form-group col-md-8 mt-2">
              <label for="paiment" class="latoBold f14 deepBlue" translate>Paiement<span
                class="redColor">*</span></label>
                <select  formControlName="amount" [ngClass]="{'is-invalid': g.amount.errors &&submit}" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue">
                  <option  [ngValue]=null translate>Choisir une formation</option>
                  <option *ngFor="let memebership of memebership?.payments" [ngValue]=memebership.id>{{ memebership.amount }} ({{memebership.date}})</option>
                </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #noPayments>
  <div class=" d-flex justify-content-center pt-5">
    <span class="text-center latoMeduim f18 lightBlue"translate>pas_encore_de_paiment</span>
  </div>
</ng-template>
<ng-template #notLoaded>
 <div class="h-100 d-flex justify-content-center align-items-center">
  <app-loading ></app-loading>
 </div>
  
  </ng-template>