<div class="mt-2 mb-5">
  <span [routerLink]="['/formation']" class="latoBlack f32 deepBlue clickableTr">Formations</span>
  <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2 blueArrow"  alt="" >
  <span class="latoBold f18 deepBlue">{{session?.name}}</span>
</div>
<div class="mb-5 d-md-flex justify-content-end align-items-center">
  <button class="btn primaryButton latoBold py-6 px-5 px-md-4 px-lg-5 mr-3 borderRadsuis10 f14"
    (click)="showModal()">Ajouter une formation</button>
  <button class="btn dangerousBtn latoBold py-6 px-5 px-md-4 px-lg-5 mr-3 borderRadsuis10 f14 mt-2 mt-md-0" (click)="deleteModal.deleteModal.show()">Supprimer
    cette session</button>
</div>
<div *ngIf="courses.length>0" class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Name</th>
        <th scope="col" translate>Date de debut</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Temps</th>
        <th scope="col">Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses" class="clickableTr borderBottom" routerLink="course-details/{{ course.id }}">
        <td class="latoBold f14 deepBlue">{{ course.name }}</td>
        <td class="latoRegular f14 deepBlue">{{ course.starting_date|date:"dd/MM/yyyy"}}</td>
        <td class="latoRegular f14 deepBlue">{{ course.finishing_date|date:"dd/MM/yyyy"}}</td>
        <td class="latoRegular f14 deepBlue">
          <ng-container *ngFor="let item of course.schedules_verbose">
            <div [ngSwitch]="item.repeat">
              <div *ngSwitchCase="'* * * * MON'">Lundi {{item.startAt}} - {{item.finishAt}}</div>
              <div *ngSwitchCase="'* * * * TUE'">Mardi {{item.startAt}} - {{item.finishAt}}</div>
              <div *ngSwitchCase="'* * * * WED'">Mercredi {{item.startAt}} - {{item.finishAt}}</div>
              <div *ngSwitchCase="'* * * * THU'">Jeudi {{item.startAt}} - {{item.finishAt}}</div>
              <div *ngSwitchCase="'* * * * FRI'">Vendredi {{item.startAt}} - {{item.finishAt}}</div>
              <div *ngSwitchCase="'* * * * SAT'">Samedi {{item.startAt}} - {{item.finishAt}}</div>
              <div *ngSwitchCase="'* * * * SUN'">Dimanche {{item.startAt}} - {{item.finishAt}}</div>
            </div>
          </ng-container>
        </td>
        <td class="latoRegular f14 deepBlue">{{ course.capacity}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-course-crud *ngIf="courses && session" #addFormationModal [courses]=courses [session]=session></app-course-crud>

<app-confirmation-modal #deleteModal (onConfirm)="onConfirm($event)"></app-confirmation-modal>