<div class="mt-2 mb-5">
  <span [routerLink]="['/formation']"queryParamsHandling="merge" class="latoBlack f32 deepBlue clickableTr">Formations</span>
  <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2" style="transform:rotate(-90deg)" alt="">
  <span class="latoBold f18 deepBlue">Session d'hiver 2020</span>
</div>
<div class="mb-5 d-md-flex justify-content-end align-items-center">
  <button class="btn primaryButton latoBold py-6 px-5 px-md-4 px-lg-5 mr-3 borderRadsuis10 f14"
    (click)="addFormationModal.show()">Ajouter une formation</button>
  <button class="btn dangerousBtn latoBold py-6 px-5 px-md-4 px-lg-5 mr-3 borderRadsuis10 f14 mt-2 mt-md-0"
    >Supprimer cette session</button>
</div>
<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Formation</th>
        <th scope="col">Date de debut</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr class="clickableTr" [routerLink]="['details']">
        <td class="latoBold f14 deepBlue">Session d'hiver 2020</td>
        <td class="latoRegular f14 deepBlue">3</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
        <td class="latoRegular f14 greenColor">Activé</td>
      </tr>
      <tr>
        <td class="latoBold f14 deepBlue">Année 2021</td>
        <td class="latoRegular f14 deepBlue">3</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
        <td class="latoRegular f14 greenColor">Activé</td>
      </tr>
      <tr>
        <td class="latoBold f14 deepBlue">Cisco Training</td>
        <td class="latoRegular f14 deepBlue">3</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
        <td class="latoRegular f14 redColor">Inactive</td>
      </tr>
    </tbody>
  </table>
</div>

<div bsModal #addFormationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="addFormationModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body p-4 mt-4">
        <div class="d-flex justify-content-between align-items-center">
          <span class="latoBold f24 deepBlue">Ajouter une formation</span>
          <div>
            <button class="btn outletPrimary latoBold py-6 px-md-5 mr-md-3 borderRadsuis10 f14">Sauvegarder et
              ajouter</button>
            <button class="btn primaryButton latoBold py-6 px-md-5  borderRadsuis10 f14">Sauvegarder</button>
          </div>
        </div>
        <div class="mt-4">
          <span class="latoBold f18 deepBlue">Information</span>
          <form>
            <div class="row mt-3 ">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="formationName" class="latoBold f14 deepBlue">Nom de la formation <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="formationName" placeholder="Ajouter un nom">
                </div>
                <div class="form-group">
                  <label for="description" class="latoBold f14 deepBlue"> Description<span
                      class="redColor ml-1">*</span></label>
                  <textarea class="form-control  latoMeduim f14 deepBlue borderRadsuis10" id="description" rows="4"
                    placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                  <label for="sessionName" class="latoBold f14 deepBlue">Session <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="sessionName" placeholder="Ajouter un nom de session" value="Session d'hiver 2020">
                </div>
                <span class="latoBold f14 deepBlue">Jour de debut <span class="redColor ml-1">*</span></span>
                <div class="form-row mt-2 ">
                  <div class="form-group col-4">
                    <!-- <label for="sessionName" >Jour de debut</label> -->
                    <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option selected>Jour</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-4">
                    <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option selected>Mois</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-4">
                    <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option selected>Année</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <span class="latoBold f14 deepBlue">Jour de fin <span class="redColor ml-1">*</span></span>
                <div class="form-row mt-2 ">
                  <div class="form-group col-4">
                    <!-- <label for="sessionName" >Jour de debut</label> -->
                    <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option selected>Jour</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-4">
                    <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option selected>Mois</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-4">
                    <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option selected>Année</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="capacity" class="latoBold f14 deepBlue">Capacity <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="capacity" placeholder="0">
                </div>
                <div class="form-group">
                  <label for="frequency" class="latoBold f14 deepBlue">Fréquence </label>
                  <select id="frequency" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                    <option selected>Temps</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="formationPrice" class="latoBold f14 deepBlue">Prix de toutes la formation </label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="formationPrice" placeholder="00.0">
                </div>
                <div class="form-group">
                  <label for="priceBySlice" class="latoBold f14 deepBlue">Prix par tranche de la formation </label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="priceBySlice" placeholder="00.0">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
