<div class="mt-2 mb-5">
  <span class="latoBlack f32 deepBlue">Centres</span>
</div>
<div class="mb-5 d-flex justify-content-end align-items-center">
  <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="manageCenter.TraingCentre.show()">Créer
  </button>
  <div class="">
    <input type="text" class="form-control customFomControl meduimFormContrl latoRegular f14" placeholder="Recherche">
  </div>
</div>
<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Etudiant</th>
        <th scope="col">Session</th>
        <th scope="col">Formation</th>
        <th scope="col">Gain</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr class="clickableTr" *ngFor="let center  of centers" routerLink="details/{{ center.id }}"  >
        <td class="latoRegular f14 deepBlue">{{ center.name }}</td>
        <td class="latoRegular f14 deepBlue">{{ center.students }}</td>
        <td class="latoRegular f14 deepBlue">{{ center.sessions }}</td>
        <td class="latoRegular f14 deepBlue">{{ center.courses }}</td>
        <td class="latoRegular f14 deepBlue">2,584,500 Da</td>
        <td class="latoRegular f14 primaryColor">Ouvert</td>
      </tr>
    </tbody>
  </table>
</div>
<app-manage-center #manageCenter> </app-manage-center>
