<div class="container">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-8 d-flex align-items-center flex-column mt-4 mt-md-5">
      <p class="deepBlue f32 text-center"><span class="latoBlack ">Class</span><img
          src="../../assets/images/svg/icons/dash.svg" alt="" style="width:1rem"><span
          class="latoRegular">manager</span></p>
      <p class="deepBlue f14 text-center">
        <span class="latoRegular">
          Démarrez votre compte d'essai
        </span>
        <span class="latoBold"> Class-Manager </span>
        <span class="latoRegular">
          et simplifiez la gestion de votre entreprise. Obtenez un accès entièrement gratuit pendant 30 jours.
        </span>
      </p>
    </div>
    <div class="col-md-10">
      <form autocomplete="off">
        <div class="mt-5 mb-4">
          <span class="latoBold f24 deepBlue">
            Créer un compte
          </span>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name" class="latoBold f14 deepBlue">Nom</label>
            <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="name" placeholder="Nom ">
          </div>
          <div class="form-group col-md-6">
            <label for="surname" class="latoBold f14 deepBlue">Prénom</label>
            <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="surname" placeholder="Prénom">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email" class="latoBold f14 deepBlue">Email</label>
            <input type="email" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="email" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="password" class="latoBold f14 deepBlue">Mot de passe</label>
            <input type="password" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="password" placeholder="Mot de passe">
          </div>
        </div>
        <div class="mt-5 mb-4">
          <span class="latoBold f24 deepBlue">A propos de votre l'entreprise</span>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="companyName" class="latoBold f14 deepBlue">Nom de l'entreprise</label>
            <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="companyName"
              placeholder="Nom de l'entreprise ">
          </div>
          <div class="form-group col-md-6">
            <label for="address" class="latoBold f14 deepBlue">Adreese</label>
            <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="address" placeholder="Adreese">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="companyEmail" class="latoBold f14 deepBlue">Email</label>
            <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="companyEmail" placeholder="Email ">
          </div>
          <div class="form-group col-md-6">
            <label for="phone" class="latoBold f14 deepBlue">Téléphone</label>
            <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="phone" placeholder="Téléphone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 order-1 order-md-0">
            <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14">Créer un compte
              d'essai</button>
          </div>
          <div class="form-group col-md-6 order-0 order-md-1">
            <p class="latoRegular f12"><span class="deepBlue">En continuant, vous acceptez nos </span><a href="">termes
                et
                conditions, </a><span>notre </span><a href="">politique de confidentialité </a><span>et êtes heureux de
                recevoir des mises à jour de Class-Manager.</span></p>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
