<div class="container">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-8 d-flex align-items-center flex-column mt-4 mt-md-5">
      <!-- <p class="deepBlue f32 text-center"><span class="latoBlack ">Class</span><img
          src="../../assets/images/svg/icons/dash.svg" alt="" style="width:1rem"><span
          class="latoRegular">manager</span></p> -->
          <img src="../../assets/images/svg/icons/logo.svg" class="pb-3" style="width: 216px;" alt="">
      <p class="deepBlue f14 text-center">
        <span class="latoRegular">
          Démarrez votre compte d'essai
        </span>
        <span class="latoBold"> Class-Manager </span>
        <span class="latoRegular">
          et simplifiez la gestion de votre entreprise. Obtenez un accès entièrement gratuit pendant 30 jours.
        </span>
      </p>
    </div>
    <div class="col-md-10">
        <div class="mt-5 mb-4">
          <span class="latoBold f24 deepBlue">
            Créer un compte
          </span>
        </div>
        <form [formGroup]="managerForm" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name" class="latoBold f14 deepBlue"translate>Nom</label>
              <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="name" placeholder="Nom " formControlName="family_name" [ngClass]="{'is-invalid': submit&&g.family_name.errors}">
            </div>
            <div class="form-group col-md-6">
              <label for="surname" class="latoBold f14 deepBlue"translate>Prénom</label>
              <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="surname" placeholder="Prénom" formControlName="name" [ngClass]="{'is-invalid': submit&&g.name.errors}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email" class="latoBold f14 deepBlue" translate>Email</label>
              <input type="email" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="email" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': submit&&g.email.errors}">
            </div>
            <div class="form-group col-md-6">
              <label for="password" class="latoBold f14 deepBlue"translate>Mot de passe</label>
              <input type="password" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="password" placeholder="Mot de passe" formControlName="password" [ngClass]="{'is-invalid': submit&&g.password.errors}">
            </div>
          </div>
        </form>
        <div class="mt-5 mb-4">
          <span class="latoBold f24 deepBlue">A propos de votre l'entreprise</span>
        </div>
        <form [formGroup]="centerForm" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="companyName" class="latoBold f14 deepBlue">Nom de l'entreprise</label>
              <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="companyName"
                placeholder="Nom de l'entreprise " formControlName="name" [ngClass]="{'is-invalid': submit&&f.name.errors}">
            </div>
            <div class="form-group col-md-6">
              <label for="address" class="latoBold f14 deepBlue">Adreese</label>
              <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="address" placeholder="Adreese" formControlName="address" [ngClass]="{'is-invalid': submit&&f.address.errors}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="companyEmail" class="latoBold f14 deepBlue">Email</label>
              <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="companyEmail" placeholder="Email " formControlName="email" [ngClass]="{'is-invalid': submit&&f.email.errors}">
            </div>
            <div class="form-group col-md-6">
              <label for="phone" class="latoBold f14 deepBlue">Téléphone</label>
              <input type="text" class="form-control customFomControl largeFormControl latoRegular lightenblue" id="phone" placeholder="Téléphone" formControlName="phone" [ngClass]="{'is-invalid': submit&&f.phone.errors}">
            </div>
          </div>
        </form>
        <div class="form-row">
          <div class="form-group col-md-6 order-1 order-md-0">
            <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="createTrialAccount(centerForm.value,managerForm.value)">Créer un compte
              d'essai</button>
          </div>
          <div class="form-group col-md-6 order-0 order-md-1">
            <p class="latoRegular f12"><span class="deepBlue">En continuant, vous acceptez nos </span><a href="">termes
                et
                conditions, </a><span>notre </span><a href="">politique de confidentialité </a><span>et êtes heureux de
                recevoir des mises à jour de Class-Manager.</span></p>
          </div>
        </div>
    </div>
  </div>

</div>
