<ng-container *ngIf="isLoaded;else notLoaded">
  <div *ngIf="stats?.length>0 ;else noStats" class="table-responsive">
    <table class="table table-borderless">
      <thead class="latoRegular f14">
        <tr>
          <th scope="col" translate>Mois</th>
          <th scope="col" translate>Etudiants</th>
          <th scope="col" translate>Professeurs</th>
          <th scope="col" translate>Sessions</th>
          <th scope="col" translate>Formation</th>
          <th scope="col" translate>Paiement</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stats" class="borderBottom">
          <td class="latoRegular f14 deepBlue">{{item.date}}</td>
          <td class="latoRegular f14 deepBlue">{{item.students}}</td>
          <td class="latoRegular f14 deepBlue">{{item.teachers}}</td>
          <td class="latoRegular f14 deepBlue">{{item.sessions}}</td>
          <td class="latoRegular f14 deepBlue">{{item.courses}}</td>
          <td class="latoRegular f14 deepBlue">{{item?.payment?.toLocaleString()}} <span translate>DA</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noStats>
    <div class=" d-flex justify-content-center pt-5">
      <span class="text-center latoMeduim f18 lightBlue" translate>On n'a pas encore des statistiques à afficher</span>
    </div>
</ng-template>
<ng-template #notLoaded>
  <app-loading></app-loading>
</ng-template>