<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Mois</th>
        <th scope="col">Etudiant</th>
        <th scope="col">Professeurs</th>
        <th scope="col">Session</th>
        <th scope="col">Formation</th>
        <th scope="col">Paiement</th>

      </tr>
    </thead>
    <tbody>
      <tr class="borderBottom">
        <td class="latoRegular f14 deepBlue">12/2020</td>
        <td class="latoRegular f14 deepBlue">212</td>
        <td class="latoRegular f14 deepBlue">10</td>
        <td class="latoRegular f14 deepBlue">8</td>
        <td class="latoRegular f14 deepBlue">15</td>
        <td class="latoRegular f14 deepBlue">1,000,000,00 DA</td>
      </tr>
      <tr class="borderBottom">
        <td class="latoRegular f14 deepBlue">12/2020</td>
        <td class="latoRegular f14 deepBlue">212</td>
        <td class="latoRegular f14 deepBlue">10</td>
        <td class="latoRegular f14 deepBlue">8</td>
        <td class="latoRegular f14 deepBlue">15</td>
        <td class="latoRegular f14 deepBlue">1,000,000,00 DA</td>
      </tr>
      <tr class="borderBottom">
        <td class="latoRegular f14 deepBlue">12/2020</td>
        <td class="latoRegular f14 deepBlue">212</td>
        <td class="latoRegular f14 deepBlue">10</td>
        <td class="latoRegular f14 deepBlue">8</td>
        <td class="latoRegular f14 deepBlue">15</td>
        <td class="latoRegular f14 deepBlue">1,000,000,00 DA</td>
      </tr>
      <tr class="borderBottom">
        <td class="latoRegular f14 deepBlue">12/2020</td>
        <td class="latoRegular f14 deepBlue">212</td>
        <td class="latoRegular f14 deepBlue">10</td>
        <td class="latoRegular f14 deepBlue">8</td>
        <td class="latoRegular f14 deepBlue">15</td>
        <td class="latoRegular f14 deepBlue">1,000,000,00 DA</td>
      </tr>
    </tbody>
  </table>
</div>
