<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="deleteModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="p-3 p-md-4 p-lg-5">
          <span class="latoBold f24 deepBlue">Etes vous sur de vouloir supprimer cette information</span>
        </div>
        <div class="d-flex justify-content-end">
          <button class="latoBold f14 deepBlue btn mr-4" (click)="deleteModal.hide()">Annuler</button>
          <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14"(click)="confirm()">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>