<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Utilisateur</th>
        <th scope="col">Modification</th>
        <th scope="col">Modification</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="latoRegular f14 deepBlue">Directeur</td>
        <td class="latoRegular f14 deepBlue">Crée une formation</td>
        <td class=" latoBold f14 greenColor">03/01/2020</td>
      </tr>
      <tr>
        <td class="latoRegular f14 deepBlue">Assistante</td>
        <td class="latoRegular f14 deepBlue">Changement</td>
        <td class=" latoBold f14 greenColor">15/01/2020</td>
      </tr>
      <tr>
            <td class="latoRegular f14 deepBlue">Assistante</td>
            <td class="latoRegular f14 deepBlue">Changement</td>
            <td class=" latoBold f14 greenColor">18/01/2020</td>
          </tr>
      <tr>
        <td class="latoRegular f14 deepBlue">Directeur</td>
        <td class="latoRegular f14 deepBlue">Crée une formation</td>
        <td class=" latoBold f14 greenColor">20/01/2020</td>
      </tr>
    </tbody>
  </table>
</div>
