<div class="mt-2 mb-5">
    <span class="latoBlack f32 deepBlue">Paiements</span>
  </div>
  <ng-container *ngIf="isLoaded;else notLoaded">
    <div *ngIf="payments.results.length>0 else noPayment" class="table-responsive">
      <table class="table table-borderless">
        <thead class="latoRegular f14">
          <tr>
            <th scope="col" style="width: 5%"></th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date de paiement</th>
            <th scope="col">Formation</th>
            <th scope="col">Paiement</th>
            <th scope="col">Payer</th>
            <th scope="col">Reste</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments?.results" class="clickableTr" (click)="gotoDetails(payment.membership_verbose.student)" >
            <td>
              <div class="d-flex align-items-center">
                <img *ngIf="payment?.student_verbose?.user.picture;else nopic" src="{{ payment.student_verbose?.user.picture }}" alt="" class="roundedImg">
                <ng-template #nopic>
                  <div class="roundedImg"></div>
                </ng-template>
              </div>
            </td>
              <td class="latoBold f14 mainColor">{{ payment?.membership_verbose.student}}</td>
              <td class="latoRegular f14 deepBlue">{{ payment?.student_verbose?.user.family_name }} {{ payment?.student_verbose?.user.name }}</td>
              <td class="latoRegular f14 deepBlue">{{ payment?.date|date:"dd/MM/yyyy" }}</td>
              <td class=" latoBold f14 greenColor">Active</td>
              <td class="latoBold f14 mainColor">{{ payment?.amount }}</td>
              <td class="latoBold f14 greenColor">{{ payment?.membership_verbose.paid_fee }}</td>
              <td class="latoBold f14 redColor">{{ payment?.membership_verbose.due_fee }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end mt-4 mr-2 align-items-center">
        <pagination [totalItems]="payments.count" [itemsPerPage]="payments.page_size" [boundaryLinks]="false"
          [customPreviousTemplate]="prevTemplate" [customNextTemplate]="nextTemplate" [customPageTemplate]="pageTemplate"
          [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
        </pagination>
        <ng-template #pageTemplate let-page let-disabled="disabled" let-currentPage="currentPage">
    
          <span *ngIf="page.number === currentPage" class="deepBlue f14 latoBold">Page {{ page.number }} of
            {{ payments.total_pages }}</span>
        </ng-template>
    
        <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
          <ng-container *ngIf="!disabled">
            <div>
              <span class="f14 latoBold mainColor mr-2">Suivant</span>
              <svg class="icon" style="fill: #3762F6; transform: rotate(270deg)">
                <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
              </svg>
            </div>
          </ng-container>
          <ng-container *ngIf="disabled">
            <div>
              <span class="f14 latoBold lightBlue mr-2">Suivant</span>
              <svg class="icon" style="fill: #89A8CF; transform: rotate(270deg)">
                <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
              </svg>
            </div>
          </ng-container>
        </ng-template>
    
        <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
          <ng-container *ngIf="!disabled">
            <div class="d-flex align-items-center">
              <div class="mr-2">
                <svg class="icon" style="fill: #3762F6; transform: rotate(90deg)">
                  <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
                </svg>
              </div>
              <span class="f14 latoBold mainColor">Précedant</span>
            </div>
          </ng-container>
          <ng-container *ngIf="disabled">
            <div class="d-flex align-items-center">
              <div class="mr-2">
                <svg class="icon" style="fill: #89A8CF; transform: rotate(90deg)">
                  <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
                </svg>
              </div>
              <span class="f14 latoBold lightBlue">Précedant</span>
            </div>
          </ng-container>
        </ng-template>
      </div>
    
    </div>
  </ng-container>
<ng-template #noPayment>
  <div class=" d-flex justify-content-center pt-5">
    <span class="text-center latoMeduim f18 lightBlue">Vous n'avez pas encore des paiments </span>
  </div>
</ng-template>
<ng-template #notLoaded>
  <app-loading ></app-loading>
  
  </ng-template>