<div class="row no-gutters h-100">
  <div class="col-md-6 d-flex flex-column p-4">
     <div class="d-flex justify-content-between align-items-center">
      <span class="deepBlue f32 text-center"><span class="latoBlack ">Class</span><img
        src="../../assets/images/svg/icons/dash.svg" alt="" style="width:1rem"><span
        class="latoRegular">manager</span></span>
       <a href="" class="latoBold f18 deepBlue">Home</a>
     </div>
     <div class="my-auto p-6">
      <p class="deepBlue f14 text-center">
        <span class="latoRegular">
          Démarrez votre compte d'essai
        </span>
        <span class="latoBold"> Class-Manager </span>
        <span class="latoRegular">
          et simplifiez la gestion de votre entreprise. Obtenez un accès entièrement gratuit pendant 30 jours.
        </span>
      </p>
      <form >
        <div class="form-group ">
          <label for="username" class="latoBold f14 deepBlue">Nom d'utilisateur </label>
          <input type="text" class="form-control customFomControl" id="username" placeholder="Nom d'utilisateur">
        </div>
        <div class="form-group ">
          <label for="password" class="latoBold f14 deepBlue">Mot de passe </label>
          <input type="text" class="form-control customFomControl" id="password" placeholder="Mot de passe">
        </div>
      </form>
     </div>
     <div class="">jghjghjkghjh</div>
  </div>
  <div class="col-md-6 h-100">
    <img src="../../assets/images/png/Capture.PNG" alt="" class="h-100 inheritWidth">
  </div>
</div>
