.logoImg {
    width: 200px;
}
.loginTitle {
    font-weight: 500;
    font-size: 34px;
    text-align: center;
}
.loginBtn {
    border: 1px solid #e2e9f3;
    border-radius: 6px;
    opacity: 1;
}
.loginIcons {
    width: 18px;
    height: 18px;
}
.seperator {
    position: relative;
    height: 1px;
    background: #e2e9f3;
    width: 100%;
}
.UsernameInput,
.passwordInput {
    border-radius: 6px;
}
.usernameImg,
.passwordImg {
    top: 50%;
}
.log {
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    background-color: #fff;
}
.backLogin {
    background-image: url(../../assets/images/svg/background-auth.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.screenShot img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-45%, -175%);
    border-radius: 5px;
} 
.firstScreenshot{
    margin-left: 60px;
    max-width: 380px;
}
.secondScreenshot{
    position: absolute;
    top: 50%;
    border-radius: 5px;
    left: 50%;
    transform: translate(-56%, -60%);
    max-width: 567px;
}   
.thirdScreenshot{
    position: absolute;
    top: 50%;
    border-radius: 5px;
    left: 50%;
    transform: translate(-48%, 24%);
    max-width: 518px;
}   
@media only screen and (min-width: 993px) {
    .mainContainer {
        max-width: 420px;
    }
}
