<div class="h-100 w-100 greyBackground d-flex justify-content-center align-items-center">
  <div class="d-flex loginContainer justify-content-center align-items-center whiteBackground">
    <div class="p-5 d-flex flex-column w-100">
      <span class="latoBold f24 deepBLue">CONNEXION AU COMPTE</span>
      <form [formGroup]="loginForm" autocomplete="off">
        <div class="form-group mt-4">
          <label for="email" class='latoBold f14 deepBlue'>Email</label>
          <input type="email" class="form-control largeFormControl latoBold f14" formControlName="email" id="email">
        </div>
        <div class="form-group mt-4">
          <label for="password" class='latoBold f14 deepBlue'>Mot de passe</label>
          <input type="password" class="form-control largeFormControl latoBold f14" formControlName="password"
            id="password">
        </div>
        <div class="mt-4">
          <button class="btn loginBtn latoBold f16 text-white" (click)='login(loginForm.value)'>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>