/* .greyBackground{
    background-color: #edf0f5;
}
.whiteBackground{
    background-color: #ffffff;
}
@media (min-width: 576px)
{.loginContainer {
    width: 560px;
}}
.loginBtn{
    transition: all 0.4s;
    background-color: #89A8CF;
    padding: 13px 50px;
    border-radius: 25px;
}
.loginBtn:hover{
    background-color:#3762F6  ;
} */
.logoImg {
    width: 200px;
}
.loginTitle {
    font-weight: 500;
    font-size: 34px;
    text-align: center;
}
.loginBtn {
    border: 1px solid #e2e9f3;
    border-radius: 6px;
    opacity: 1;
}
.loginIcons {
    width: 18px;
    height: 18px;
}
.seperator {
    position: relative;
    height: 1px;
    background: #e2e9f3;
    width: 100%;
}
.UsernameInput,
.passwordInput {
    padding-left: 2.5rem;
    border-radius: 6px;
}
.usernameImg,
.passwordImg {
    transform: translate3d(50%, -50%, 0);
    top: 50%;
    left: 1%;
}
.log {
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    background-color: #fff;
}
.backLogin {
    background-image: url(../../assets/images/svg/background-auth.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* .firstScreenshot{
    max-width: 322px;
    margin-top: -214px;
  
} */
.screenShot img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-45%, -175%);
    border-radius: 5px;
} 
.firstScreenshot{
    margin-left: 60px;
    max-width: 380px;
}
.secondScreenshot{
    position: absolute;
    top: 50%;
    border-radius: 5px;
    left: 50%;
    transform: translate(-56%, -60%);
    max-width: 567px;
}   
.thirdScreenshot{
    position: absolute;
    top: 50%;
    border-radius: 5px;
    left: 50%;
    transform: translate(-48%, 24%);
    max-width: 518px;
}   
@media only screen and (min-width: 993px) {
    .mainContainer {
        max-width: 420px;
    }
}
