<div class="container">
    <div class="mt-5 d-flex flex-column">
        <span class="latoBold f42 mainColor text-center" translate>Termes et conditions </span>
        <p class="mt-3" translate>Bienvenue sur class-Manager!</p>

        <p class="d-flex flex-column">
            <span translate>Veuillez lire attentivement les présentes Conditions</span>
            <span translate>Votre accès et votre utilisation du Service sont conditionnés par l’acceptation et votre
                conformité à ces Conditions. Ces conditions s'appliquent à tous les visiteurs, utilisateurs et autres
                personnes ayant accès au service ou l'utilisant.</span>
            <span translate>En accédant ou en utilisant le service, vous acceptez d'être lié par les présentes
                conditions. Si vous êtes en désaccord avec une partie des termes, vous ne pouvez pas accéder au
                service.</span>
        </p>

        <span class="f28 black latoBold mt-3" translate>Comptes </span>
        <p class="d-flex flex-column">
            <span translate>Lorsque vous créez un compte à notre niveau, vous devez nous fournir des informations
                exactes, complètes et à jour en tout temps. Ne pas faire ceci constitue une violation des conditions, ce
                qui peut entraîner la résiliation immédiate de votre compte sur notre Service.</span>
            <span translate>Vous êtes responsable de la protection du mot de passe que vous utilisez pour accéder au
                service et de toute activité ou action effectuée sous votre responsabilité de passe, que votre mot de
                passe soit associé à notre service ou à un service tiers.</span>
        </p>
        <span class="f28 black latoBold" translate>Résiliation </span>
        <p class="d-flex flex-column">
            <span translate>Lorsque vous créez un compte à notre niveau, vous devez nous fournir des informations exactes</span>
            <span translate>Toutes les dispositions des conditions qui</span>
        </p>
        <span class="f28 black latoBold" translate>Avertissements </span>
        <p class="d-flex flex-column">
            <span translate>Toutes les informations de notre site web sont publiées de bonne foi et à des fins d'information générale uniquement.</span>
        </p>
        <span class="f28 black latoBold" translate>Changements </span>
        <p class="d-flex flex-column">
            <span translate>Nous nous réservons le droit, à notre seule discrétion, de modifier ou de remplacer les présentes conditions à tout moment.</span>
            <span translate>Ce qui constitue un changement important sera déterminé à notre discrétion. En continuant d'accéder ou d'utiliser le Service après l'entrée en vigueur de ces révisions, vous acceptez d'être lié par les conditions révisées.</span>
            <span translate>Si vous n'acceptez pas les nouvelles conditions, veuillez cesser d'utiliser le service.</span>
        </p>
        <span class="f28 black latoBold" translate>Contactez nous</span>
        <p class="d-flex flex-column">
            <span translate>Si vous avez des questions sur notre politique de confidentialité et nos conditions d'utilisation, veuillez nous contacter.</span>
            <span ><span translate>Email</span>:classmanager.contact@gmail.com</span>
        </p>
    </div>
</div>