<div class="mt-5 d-flex flex-column">
    <span class="latoBold f42 mainColor text-center">Termes et conditions </span>
<p class="mt-3">Bienvenue sur class-Manager!</p>

<p>Ces termes et conditions décrivent les règles et réglementations d'utilisation du site Web de Class-Manager, situé à
    l'adresse <a routerLink="">https://class-manager.net</a></p>

<p>En accédant à ce site Web, nous supposons que vous acceptez ces termes et conditions. Ne continuez pas à utiliser
    class-Manager si vous n'acceptez pas de prendre tous les termes et conditions énoncés sur cette page.</p>

<p>La terminologie suivante s'applique aux présentes conditions générales, à la déclaration de confidentialité et à
    l'avis de non-responsabilité et à tous les accords : "Client", "Vous" et "Votre" font référence à vous, la personne
    qui se connecte sur ce site Web et qui se conforme aux conditions générales de la Société. « La Société »,
    « Nous-mêmes », « Nous », « Notre » et « Nous » font référence à notre Société. « Partie », « Parties » ou « Nous »
    désignent à la fois le client et nous-mêmes. Tous les termes se réfèrent à l'offre, à l'acceptation et à la
    considération du paiement nécessaire pour entreprendre le processus de notre assistance au Client de la manière la
    plus appropriée dans le but exprès de répondre aux besoins du Client en ce qui concerne la fourniture des services
    déclarés de la Société, conformément à et sous réserve de la législation en vigueur aux Pays-Bas. Toute utilisation
    de la terminologie ci-dessus ou d'autres mots au singulier, au pluriel, en majuscules et/ou il/elle ou ils, sont
    considérés comme interchangeables et donc comme faisant référence à ceux-ci.</p>

<span class="f28 black latoBold mt-3">Cookies</span>

<p>Nous employons l'utilisation de cookies. En accédant à Class-Manager, vous acceptez l'utilisation de cookies en
    accord avec le
    Politique de confidentialité du Class-Manager. </p>

<p>La plupart des sites Web interactifs utilisent des cookies pour nous permettre de récupérer les détails de
    l'utilisateur pour chaque visite. Les cookies sont utilisés par notre site Web pour activer la fonctionnalité de
    certaines zones afin de faciliter la tâche des personnes visitant notre site Web. Certains de nos partenaires
    affiliés/publicitaires peuvent également utiliser des cookies.</p>

<span class="f28 black latoBold mt-3">License</span>

<p>Sauf indication contraire, Class-Manager et/ou ses concédants détiennent les droits de propriété intellectuelle pour
    tout le matériel sur class-Manager. Tous les droits de propriété intellectuelle sont réservés. Vous pouvez y accéder
    à partir de class-Manager pour votre usage personnel sous réserve des restrictions définies dans ces termes et
    conditions</p>

<p>Il ne faut pas:</p>
<ul>
    <li>Republier le matériel de class-Manager</li>
    <li>Vendre, louer ou sous-licencier le matériel du class-Manager</li>
    <li>Reproduire, dupliquer ou copier le matériel de class-Manager</li>
    <li>Redistribuer le contenu de class-Manager</li>
</ul>

<p>Certaines parties de ce site Web offrent aux utilisateurs la possibilité de publier et d'échanger des opinions et des
    informations dans certaines zones du site Web. Class-Manager ne filtre pas, ne modifie pas, ne publie pas et ne
    révise pas les commentaires avant leur présence sur le site Web. Les commentaires ne reflètent pas les points de vue
    et les opinions de Class-Manager, de ses agents et/ou de ses affiliés. Les commentaires reflètent les points de vue
    et opinions de la personne qui publie ses points de vue et opinions. Dans la mesure permise par les lois
    applicables, Class-Manager ne sera pas responsable des commentaires ou de toute responsabilité, dommages ou dépenses
    causés et/ou subis à la suite de toute utilisation et/ou publication et/ou apparition des commentaires sur ce site
    Internet.</p>

<p>Class-Manager se réserve le droit de surveiller tous les commentaires et de supprimer tout commentaire pouvant être
    considéré comme inapproprié, offensant ou entraînant une violation des présentes conditions générales.</p>

<p>Vous garantissez et déclarez que :</p>

<ul>
    <li>Vous avez le droit de publier les commentaires sur notre site Web et disposez de toutes les licences et
        autorisations nécessaires pour le faire ;</li>
    <li>Les Commentaires n'envahissent aucun droit de propriété intellectuelle, y compris, sans s'y limiter, le droit
        d'auteur, le brevet ou la marque de commerce d'un tiers ;</li>
    <li>Les commentaires ne contiennent aucun matériel diffamatoire, calomnieux, offensant, indécent ou autrement
        illégal qui constitue une atteinte à la vie privée</li>
    <li>Les Commentaires ne seront pas utilisés pour solliciter ou promouvoir des activités commerciales ou
        personnalisées ou présenter des activités commerciales ou des activités illégales.</li>
</ul>

<p>Par la présente, vous accordez à Class-Manager une licence non exclusive pour utiliser, reproduire, éditer et
    autoriser d'autres personnes à utiliser, reproduire et éditer n'importe lequel de vos commentaires sous toutes
    formes, formats ou supports.</p>

<span class="f28 black latoBold mt-3">Hyperlien vers notre contenu</span>

<p>Les organisations suivantes peuvent créer un lien vers notre site Web sans autorisation écrite préalable :</p>

<ul>
    <li>Organismes gouvernementaux;</li>
    <li>Moteurs de recherche;</li>
    <li>Organismes de presse ;</li>
    <li>Les distributeurs d'annuaires en ligne peuvent créer un lien vers notre site Web de la même manière qu'ils
        créent un lien hypertexte vers les sites Web d'autres entreprises répertoriées ; et</li>
    <li>Entreprises accréditées à l'échelle du système, à l'exception des organisations à but non lucratif, des centres
        commerciaux caritatifs et des groupes de collecte de fonds caritatifs qui ne peuvent pas créer de lien
        hypertexte vers notre site Web.</li>
</ul>

<p>Ces organisations peuvent créer un lien vers notre page d'accueil, vers des publications ou vers d'autres
    informations du site Web tant que le lien : (a) n'est en aucun cas trompeur ; (b) n'implique pas faussement le
    parrainage, l'approbation ou l'approbation de la partie de liaison et de ses produits et/ou services ; et (c)
    s'inscrit dans le contexte du site de la partie de liaison.</p>
<p>Nous pouvons examiner et approuver d'autres demandes de lien provenant des types d'organisations suivants :</p>
<ul>
    <li>des sources d'informations sur les consommateurs et/ou les entreprises bien connues ;</li>
    <li>les sites communautaires dot.com ;</li>
    <li>associations ou autres groupes représentant des organisations caritatives ;</li>
    <li>distributeurs d'annuaires en ligne;</li>
    <li>portails Internet;</li>
    <li>cabinets comptables, juridiques et de conseil; et</li>
    <li>les établissements d'enseignement et les associations professionnelles.</li>
</ul>

<p>Nous approuverons les demandes de lien de ces organisations si nous décidons que : (a) le lien ne nous donnerait pas
    une image défavorable de nous-mêmes ou de nos entreprises accréditées ; (b) l'organisation n'a aucun dossier négatif
    avec nous ; (c) le bénéfice pour nous de la visibilité de l'hyperlien compense l'absence du Class-Manager ; et (d)
    le lien se trouve dans le contexte d'informations générales sur les ressources.</p>
<p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not
    falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits
    within the context of the linking party’s site.</p>

<p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you
    must inform us by sending an e-mail to Class-Manager. Please include your name, your organization name, contact
    information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a
    list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
<p>Les organisations approuvées peuvent créer un lien hypertexte vers notre site Web comme suit :</p>
<ul>
    <li>En utilisant notre dénomination sociale ; ou</li>
    <li>En utilisant le localisateur de ressources uniforme auquel il est lié ; ou</li>
    <li>Par l'utilisation de toute autre description de notre site Web lié à qui a du sens dans le contexte et le format
        du contenu sur le site de la partie de liaison.</li>
</ul>

<p>Aucune utilisation du logo de Class-Manager ou d'autres illustrations ne sera autorisée pour le lien en l'absence
    d'un accord de licence de marque.</p>

<span class="f28 black latoBold mt-3">iFrames</span>

<p>Sans approbation préalable et autorisation écrite, vous ne pouvez pas créer de cadres autour de nos pages Web qui
    modifient de quelque manière que ce soit la présentation visuelle ou l'apparence de notre site Web.</p>

<span class="f28 black latoBold mt-3">Responsabilité relative au contenu</span>

<p>Nous ne serons pas tenus responsables du contenu qui apparaît sur votre site Web. Vous acceptez de nous protéger et
    de nous défendre contre toutes les réclamations qui surgissent sur votre site Web. Aucun lien ne doit apparaître sur
    un site Web pouvant être interprété comme diffamatoire, obscène ou criminel, ou qui enfreint, viole ou préconise la
    violation ou autre violation des droits de tiers.</p>
<div id="private" >
    <span class="f28 black latoBold mt-3">Votre vie privée</span>
<p>Veuillez lire la politique de confidentialité</p>

<span class="f28 black latoBold mt-3">Réserve de droits</span>

<p>Nous nous réservons le droit de vous demander de supprimer tous les liens ou tout lien particulier vers notre site
    Web. Vous acceptez de supprimer immédiatement tous les liens vers notre site Web sur demande. Nous nous réservons
    également le droit de modifier ces termes et conditions et sa politique de liaison à tout moment. En vous connectant
    continuellement à notre site Web, vous acceptez d'être lié et de suivre ces conditions générales de liaison.</p>
<span class="f28 black latoBold mt-3">Removal of links from our website</span>

<p>Si vous trouvez un lien sur notre site Web qui est offensant pour une raison quelconque, vous êtes libre de nous
    contacter et de nous en informer. Nous examinerons les demandes de suppression de liens, mais nous ne sommes pas
    obligés de vous répondre directement.</p>

<p>Nous ne garantissons pas que les informations sur ce site Web sont correctes, nous ne garantissons pas leur
    exhaustivité ou leur exactitude ; nous ne promettons pas non plus de garantir que le site Web reste disponible ou
    que le contenu du site Web est tenu à jour.
</p>

<span class="f28 black latoBold mt-3">Avertissement</span>

<p>Dans la mesure maximale permise par la loi applicable, nous excluons toutes les représentations, garanties et conditions relatives à notre site Web et à l'utilisation de ce site Web. Rien dans cette clause de non-responsabilité :</p>

<ul>
    <li>limiter ou exclure notre ou votre responsabilité en cas de décès ou de blessures corporelles ;</li>
    <li>limiter ou exclure notre ou votre responsabilité en cas de fraude ou de fausse déclaration frauduleuse ;</li>
    <li>limiter l'une de nos ou vos responsabilités d'une manière qui n'est pas autorisée par la loi applicable ; ou</li>
    <li>exclure l'une de nos ou vos responsabilités qui ne peuvent être exclues en vertu de la loi applicable.</li>
</ul>

<p>Les limitations et interdictions de responsabilité définies dans cette section et ailleurs dans cette clause de non-responsabilité : (a) sont soumises au paragraphe précédent ; et (b) régissent toutes les responsabilités découlant de la clause de non-responsabilité, y compris les responsabilités contractuelles, délictuelles et pour manquement à une obligation légale.</p>
<p>Tant que le site Web et les informations et services sur le site Web sont fournis gratuitement, nous ne serons pas responsables de toute perte ou dommage de quelque nature que ce soit.</p>

</div>
</div>