<div bsModal #professorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{ ignoreBackdropClick: 'false' }" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="professorModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body p-4 mt-4">
        <div class="d-flex justify-content-between align-items-center">
          <span class="latoBold f24 deepBlue">Ajouter un professeur</span>
          <div>
            <button class="btn primaryButton latoBold py-6 px-md-5 px-3  borderRadsuis10 f14"
              (click)="manageProfessor(professorForm.value)">Sauvegarder</button>
          </div>
        </div>
        <div class="mt-4">
          <form [formGroup]="professorForm" autocomplete="off">
            <div class="row mt-3 ">
              <div class="col-md-6">
                <div class="mb-3">
                  <span class="latoBold f18 deepBlue">Information</span>
                </div>
                <div class="form-group">
                  <label for="Address" class="latoBold f14 deepBlue">Nom <span class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="family_name"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="family_name"
                    placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="name" class="latoBold f14 deepBlue">Prénom <span class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="name"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="name"
                    placeholder="Prénom">
                </div>
                <div class="form-group">
                  <label for="gender" class="latoBold f14 deepBlue">Genre <span class="redColor ml-1">*</span></label>
                  <select id="gender" formControlName="gender"
                    class="form-control latoRegular f14 lightBlue borderRadsuis10">
                    <option value=null disabled>Selectionner</option>
                    <option value="" disabled>Selectionner</option>
                    <option value="M">Masculin</option>
                    <option value="F">Féminin</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name" class="latoBold f14 deepBlue">Date de naissance <span
                      class="redColor">*</span></label>
                  <input type="text" formControlName="birthday" placeholder="Date d'enregistrement"
                    class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                    container="" [bsConfig]="bsConfig" placement="bottom">
                </div>
                <span class="latoBold f14 deepBlue">Ajouter une photo</span>
                <div class="form-group d-flex align-items-end p-2 mainBorder borderRadsuis10 mt-1">
                  <div [ngStyle]="{'background-image':imgUrl  ? 'url('+imgUrl+')' : '' }" class="imgPlaceholder mr-3">
                  </div>
                  <div>
                    <span class="latoMeduim f14 deepBlue d-block mb-2">{{ fileName }}</span>
                    <label for="file-upload"
                      class="custom-file-upload latoBold f14 greenBackground borderRadsuis10 text-white mb-0">Upload</label>
                    <input type="file" name="" id="file-upload" (change)="showPreviewImage($event)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <span class="latoBold f18 deepBlue">Contact</span>
                </div>
                <div class="form-group">
                  <label for="Address" class="latoBold f14 deepBlue">Adresse 1 <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="address"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="Adresse"
                    placeholder="Ajouter une adresse 1">
                </div>
                <div class="form-group">
                  <label for="Address2" class="latoBold f14 deepBlue">Adresse 2 <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="Adresse2" placeholder="Ajouter une adresse 2">
                </div>
                <div class="form-group">
                  <label for="phone" class="latoBold f14 deepBlue">Mobile 1 <span class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="phone"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="phone"
                    placeholder="Ajouter un numero de téléphone 1">
                </div>
                <div class="form-group">
                  <label for="email" class="latoBold f14 deepBlue">Email <span class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="email"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="email"
                    placeholder="Email">
                </div>
                <div class="mt-4 mb-3">
                  <span class="latoBold f18 deepBlue">Proféssion</span>
                </div>
                <div class="form-group">
                  <label for="course" class="latoBold f14 deepBlue">Specialité <span
                      class="redColor ml-1">*</span></label>
                  <select id="course" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                    <option value=null disabled>Ajouter le type de cours du profésseur</option>
                    <option *ngFor="let course of courses" [ngValue]=course.id>{{ course.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
