<div  *ngIf="isLoaded;else notLoaded">
  <div *ngIf="students.length>0;else noStudents"  class="table-responsive">
    <table class="table table-borderless">
      <thead class="latoRegular f14">
        <tr>
          <th scope="col"translate style="width: 10%"></th>
          <th scope="col"translate>ID</th>
          <th scope="col"translate>Name</th>
          <th scope="col"translate>Status</th>
          <th scope="col"translate >Paiement</th>
          <th scope="col"translate>Date d'enregistrement</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" class="clickableTr borderBottom">
          <td>
            <div class="form-group form-check d-flex align-items-center mb-0 ">
              <input type="checkbox" class="form-check-input" id="{{student.id}}" [(ngModel)]="student.checked "
                (change)="showHiddenButtons($event.target.checked,student)">
              <label class="form-check-label" for="{{student.id}}"></label>
              <img *ngIf="student?.user.picture;else nopic" src="{{ student.user.picture }}" alt="" class="roundedImg">
              <ng-template #nopic>
                <div class="roundedImg"></div>
              </ng-template>
            </div>

          </td>
          <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue"> {{student.id}} </td>
          <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue">{{student.user.family_name}}
            {{student.user.name}}</td>
          <td (click)="gotoStudents(student.id)" class=" latoBold f14 "
            [ngClass]="{'greenColor': student?.status==='active','redColor': student?.status==='notActive'}"translate>{{
            student?.status==="active"? "Active":"Inactive" }}</td>
          <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue">
            {{student.amount?.toLocaleString()||0}} {{ 'Da' | translate }}</td>
          <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue">
            <ng-container *ngFor="let item of student?.memberships_verbose">
             <ng-container *ngIf="item.course===course.id">
              {{item.registeration_date |date:'dd/MM/yyyy'}}
             </ng-container>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noStudents>
    <div class=" d-flex justify-content-center pt-5">
      <span class="text-center latoMeduim f18 lightBlue"translate>Cette Formation n'a encore pas des étudiants </span>
    </div>
  </ng-template>
</div>
<ng-template #notLoaded><div class="h-75 d-flex justify-content-center align-items-center"><app-loading ></app-loading></div></ng-template>