<div *ngIf="course" class="table-responsive">
  <table *ngIf="students.length>0" class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col" style="width: 10%"></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Paiement</th>
        <th scope="col">Date</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" class="clickableTr borderBottom">
        <td (click)="deleteMemeberShip(student)">
          <div class="form-group form-check d-flex align-items-center mb-0 ">
            <input type="checkbox" class="form-check-input" id="{{student.id}}" [(ngModel)]="student.checked "
            (change)="showHiddenButtons($event.target.checked,student)">
            <label class="form-check-label" for="{{student.id}}"></label>
            <img *ngIf="student?.user.picture;else nopic" src="{{ student.user.picture }}" alt="" class="roundedImg">
            <ng-template #nopic>
              <div class="roundedImg"></div>
            </ng-template>
          </div>

        </td>
        <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue"> {{student.id}} </td>
        <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue">{{student.user.family_name}}
          {{student.user.name}}</td>
        <td (click)="gotoStudents(student.id)" class=" latoBold f14 "
          [ngClass]="{'greenColor': student?.status==='active','redColor': student?.status==='notActive'}">{{
          student?.status==="active"? "Active":"Inactive" }}</td>
        <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue">{{student.amount?.toLocaleString()||0}}
          Da</td>
        <td (click)="gotoStudents(student.id)" class="latoRegular f14 deepBlue">01/12/2020</td>
      </tr>
    </tbody>
  </table>
</div>