<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col" style="width: 10%"></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Paiement</th>
        <th scope="col">Date</th>

      </tr>
    </thead>
    <tbody>
      <tr class="clickableTr">
        <td>
          <div class="form-group form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
            <img src="../../../../../assets/images/png/téléchargement.jpg" alt="" class="roundedImg">
          </div>

        </td>
        <td class="latoRegular f14 deepBlue">1</td>
        <td class="latoRegular f14 deepBlue">Mathéo Roger</td>
        <td class=" latoBold f14 greenColor">Active</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
      </tr>
      <tr class="clickableTr">
        <td>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
            <img src="../../../../../assets/images/png/téléchargement.jpg" alt="" class="roundedImg">
          </div>

        </td>
        <td class="latoRegular f14 deepBlue">1</td>
        <td class="latoRegular f14 deepBlue">Mathéo Roger</td>
        <td class=" latoBold f14 greenColor">Active</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
      </tr>
      <tr class="clickableTr">
        <td>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
            <img src="../../../../../assets/images/png/téléchargement.jpg" alt="" class="roundedImg">
          </div>

        </td>
        <td class="latoRegular f14 deepBlue">1</td>
        <td class="latoRegular f14 deepBlue">Mathéo Roger</td>
        <td class=" latoBold f14 greenColor">Active</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
      </tr>
      <tr class="clickableTr">
        <td>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
            <img src="../../../../../assets/images/png/téléchargement.jpg" alt="" class="roundedImg">
          </div>

        </td>
        <td class="latoRegular f14 deepBlue">1</td>
        <td class="latoRegular f14 deepBlue">Mathéo Roger</td>
        <td class=" latoBold f14 greenColor">Active</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
      </tr>
      <tr class="clickableTr">
        <td>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
            <img src="../../../../../assets/images/png/téléchargement.jpg" alt="" class="roundedImg">
          </div>

        </td>
        <td class="latoRegular f14 deepBlue">1</td>
        <td class="latoRegular f14 deepBlue">Mathéo Roger</td>
        <td class=" latoBold f14 greenColor">Active</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
      </tr>
    </tbody>
  </table>
</div>
