<div bsModal #addFormationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{ ignoreBackdropClick: 'false' }"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="addFormationModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body p-4 mt-4">
        <div class="d-flex justify-content-between align-items-center">
          <span class="latoBold f24 deepBlue"translate>Ajouter une formation </span>
          <div>
            <!-- <button *ngIf="!this.course"
              class="btn outletPrimary latoBold py-6 px-md-5 mr-1 mr-md-3 borderRadsuis10 f14"
              (click)="saveAction=false;crudCourse()">Sauvegarder et
              ajouter</button> -->
            <button class="btn primaryButton latoBold py-6 px-md-5  borderRadsuis10 f14 saveBtn mt-md-1 mt-lg-0"
              (click)="saveAction=true;crudCourse();"translate>Sauvegarder</button>
          </div>
        </div>
        <div class="mt-4">
          <span class="latoBold f18 deepBlue"translate>Information</span>
          <form [formGroup]="courseForm" autocomplete="off">
            <div class="row mt-3 ">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="formationName" class="latoBold f14 deepBlue"translate>Nom de la formation <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="formationName" placeholder="{{ 'Ajouter un nom de formation' | translate }}" formControlName="name"
                    [ngClass]="{'is-invalid': submit &&f.name.errors}">
                </div>
                <div class="form-group">
                  <label for="description" class="latoBold f14 deepBlue"translate> Description</label>
                  <textarea class="form-control  latoMeduim f14 deepBlue borderRadsuis10" id="description" rows="4"
                    formControlName="description" [ngClass]="{'is-invalid': submit &&f.name.errors}"
                    placeholder="{{ 'Description' | translate }}"></textarea>
                </div>
                <div class="form-group">
                  <label for="teacher" class="latoBold f14 deepBlue"translate> Professeur<span
                      class="redColor ml-1">*</span></label>
                  <select id="teacher" formControlName="teacher"
                    class="form-control latoRegular f14 lightBlue borderRadsuis10"
                    [ngClass]="{'is-invalid': submit &&f.teacher.errors}">
                    <option [ngValue]="null" translate>Sélectionner le Professeur </option>
                    <option *ngFor="let prof of professors" [ngValue]=prof.id>{{prof.user.family_name}}
                      {{prof.user.name}} </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name" class="latoBold f14 deepBlue" translate>Jour de debut <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="starting_date" placeholder="{{ 'Jour de debut de la formation' | translate }} "
                    class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                    [ngClass]="{'is-invalid': submit&&f.starting_date.errors}" container="" [bsConfig]="bsConfig"
                    placement="bottom" (onHidden)="setMinDate()"  [maxDate]="maxDate">
                </div>
                <div class="form-group">
                  <label for="name" class="latoBold f14 deepBlue" translate>Jour de fin <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="finishing_date" placeholder="{{ 'Jour de fin de la formation' | translate }}"
                    class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                    [ngClass]="{'is-invalid': submit&&f.finishing_date.errors}" container="" [bsConfig]="bsConfig"
                    placement="bottom" [minDate]="minDate" (onShown)="setMinDate()">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="capacity" class="latoBold f14 deepBlue"translate>Capacity <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    [ngClass]="{'is-invalid': submit &&f.capacity.errors}" id="capacity" placeholder="0"
                    formControlName="capacity">
                </div>
                <form [formGroup]="sceduleForm">
                  <div formArrayName="scheduls"
                    *ngFor="let skill of sceduleForm.get('scheduls')['controls']; let i = index;let isLast=last">
                    <div [formGroupName]="i">
                      <div class="form-row align-items-center">
                        <div class="form-group col-md-5" [ngClass]="{'mb-0': i===0}">
                          <label for="frequency{{i}}" class="latoBold f14 deepBlue"translate>Fréquence <span
                              class="redColor ml-1">*</span></label> 
                          <select id="frequency{{i}}" formControlName="repeat" 
                            class="form-control latoRegular f14 lightBlue borderRadsuis10" 
                            [ngClass]="{'is-invalid': skill.controls.repeat.errors && submit}" >
                            <option value=null disabled translate>Sélectionner</option>
                            <option value="SUN"translate>Dimanche</option>
                            <option value="MON"translate>Lundi</option>
                            <option value="TUE"translate>Mardi</option>
                            <option value="WED"translate>Mercredi</option>
                            <option value="THU"translate>Jeudi</option>
                            <option value="FRI"translate>Vendredi</option>
                            <option value="SAT"translate>Samedi</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3 d-flex flex-column" [ngClass]="{'mb-0': i===0}">
                          <label for="start_at{{i}}" class="latoBold f14 deepBlue noWrap" translate>H de debut<span
                              class="redColor ml-1">*</span></label>
                            <timepicker  [hoursPlaceholder]="'HH' | translate"[minutesPlaceholder]="'MM' | translate"
                            class="latoMeduim f14 deepBlue borderRadsuis10" id="start_at{{i}}"
                            placeholder="0" [ngClass]="{'is-invalid': skill.controls.start_at.errors && submit}"
                            formControlName="start_at"[showMeridian]="false" [showSpinners]="false"></timepicker>

                        </div>
                        <div class="form-group col-md-3" [ngClass]="{'mb-0': i===0}">
                          <label for="finish_at{{i}}" class="latoBold f14 deepBlue noWrap"translate>H de fin <span
                              class="redColor ml-1">*</span></label>
                            <timepicker  type="text"[hoursPlaceholder]="'HH' | translate"[minutesPlaceholder]="'MM' | translate"
                            class="latoMeduim f14 deepBlue borderRadsuis10" id="finish_at{{i}}"
                            placeholder="0" [ngClass]="{'is-invalid': skill.controls.finish_at.errors && submit}"
                            formControlName="finish_at" [showMeridian]="false" [showSpinners]="false"></timepicker>

                        </div>
                        <div class="form-group col-md-1" *ngIf="i!==0">
                         <button class="btn mt-4 p-0 pl-1" (click)="deleteSchedules(i,skill)">
                           <img src="../../../../assets/images/svg/icons/close.svg" alt="">
                         </button>
                        </div>
                      </div>
                      <div *ngIf="isLast" class="mb-2 clickableTr latoRegular f12 mainColor " (click)="addCourseClick()">
                        <u translate>Ajouter une autre fréquance</u></div>
                    </div>
                  </div>
                </form> 
                <div class="form-group">
                  <label for="formationPrice" class="latoBold f14 deepBlue"translate>Prix de la formation<span class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    [ngClass]="{'is-invalid': submit &&f.fee.errors}" id="formationPrice" placeholder="00.0"
                    formControlName="fee">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>