<div bsModal #TraingCentre="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{ ignoreBackdropClick: 'false' }" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="TraingCentre.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body p-4 mt-4">
        <div class="d-flex justify-content-between align-items-center">
          <span class="latoBold f24 deepBlue" translate>Ajouter un centre</span>
          <div>
            <button class="btn primaryButton latoBold py-6 px-md-5 px-3 borderRadsuis10 f14"
              (click)="manageCenter(centerForm.value)" translate>Sauvegarder</button>
          </div>
        </div>
        <div class="mt-4">
          <span class="latoBold f18 deepBlue" translate>Informations</span>
          <form [formGroup]="centerForm" autocomplete="off">
            <div class="row mt-3 ">
              <div class="col-md-6">
                <span class="latoBold f14 deepBlue" translate>Ajouter votre logo</span>
                <div class="form-group d-flex align-items-end p-2 mainBorder borderRadsuis10 mt-1">
                  <div [ngStyle]="{'background-image':imgUrl  ? 'url('+imgUrl+')' : '' }" class="imgPlaceholder mr-3">
                  </div>
                  <div>
                    <span class="latoMeduim f14 deepBlue d-block mb-2">{{ fileName }}</span>
                    <label for="file-upload"
                      class="custom-file-upload latoBold f14 greenBackground borderRadsuis10 text-white mb-0" translate>Upload</label>
                    <input type="file" name="" id="file-upload" (change)="showPreviewImage($event)">
                  </div>
                </div>
                <div class="form-group">
                  <label for="formationName" class="latoBold f14 deepBlue" translate>Nom du centre <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="name"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="formationName"
                    placeholder="{{ 'Ajouter un nom' | translate }}" [ngClass]="{'is-invalid': submit&&f.name.errors}">
                </div>
                <div class="form-group">
                  <label for="Adresse" class="latoBold f14 deepBlue" translate>Adresse <span
                      class="redColor ml-1">*</span></label>
                  <input type="text" formControlName="address"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="Adresse"
                    placeholder="{{ 'Ajouter un nom du centre' | translate }}" [ngClass]="{'is-invalid': submit&&f.address.errors}">
                </div>
                <div class="form-group">
                  <label for="town" class="latoBold f14 deepBlue" translate>Région</label>
                  <select id="town" [(ngModel)]="region" [ngModelOptions]="{standalone:true}" (change)="selectRegion()"
                    class="form-control latoRegular f14 borderRadsuis10">
                    <option selected disabled [value]="null" translate>Sélectionner</option>
                    <option *ngFor="let region  of regions" [ngValue]=region.id>{{lang==="ar"?region.name_ar: region.name_fr }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="town" class="latoBold f14 deepBlue" translate>Ville </label>
                  <select id="town" formControlName="town" [ngClass]="{'is-invalid': submit&&f.town.errors}"
                    class="form-control latoRegular f14  borderRadsuis10">
                    <option [value]=null disabled selected translate>Sélectionner</option>
                    <option *ngFor="let town  of towns" [ngValue]=town.id>{{lang==="ar"? town.name_ar: town.name_fr }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Phone" class="latoBold f14 deepBlue" translate>Phone <span class="redColor ml-1">*</span></label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="Phone" formControlName="phone" placeholder="{{ 'Ajouter le numéro de téléphone' | translate }}"
                    [ngClass]="{'is-invalid': submit&&f.phone.errors}">
                </div>
                <div class="form-group">
                  <label for="email" class="latoBold f14 deepBlue" translate>E-mail </label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="email" formControlName="email" placeholder="{{ 'Ajouter un email' | translate }}"
                    [ngClass]="{'is-invalid': submit&&f.email.errors}">
                </div>
                <div class="form-group">
                  <label for="lang" class="latoBold f14 deepBlue" translate>Langue </label>
                  <select id="lang" formControlName="language"
                    class="form-control latoRegular f14  borderRadsuis10">
                    <option disabled [ngValue]="null" translate>Sélectionner</option>
                    <option value="FR">Français</option>
                    <option value="AR">العربية</option>
                  </select>
                </div>
                <div class="mt-4">
                  <span class="latoBold f18 deepBlue" translate>Informations</span>
                  <form [formGroup]="managerForm" autocomplete="off" class="mt-3">
                    <div class="form-group">
                      <label for="formationName" class="latoBold f14 deepBlue" translate>Nom du manager <span
                          class="redColor ml-1">*</span></label>
                      <input type="text" formControlName="family_name"
                        class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="formationName"
                        placeholder="{{ 'Nom du manager' | translate }}" [ngClass]="{'is-invalid': submit&&g.family_name.errors}">
                    </div>
                    <div class="form-group">
                      <label for="formationName" class="latoBold f14 deepBlue" translate>Prénom du manager <span
                          class="redColor ml-1">*</span></label>
                      <input type="text" formControlName="name"
                        class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="formationName"
                        placeholder="{{ 'Prenom du manager' | translate }}" [ngClass]="{'is-invalid': submit&&g.name.errors}">
                    </div>
                    <div class="form-group">
                      <label for="formationName" class="latoBold f14 deepBlue" translate>Email <span
                          class="redColor ml-1">*</span></label>
                      <input type="text" formControlName="email"
                        class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="formationName"
                        placeholder="{{ 'Email' | translate }}" [ngClass]="{'is-invalid': submit&&g.email.errors}">
                    </div>
                    <div class="form-group" *ngIf="!center">
                      <label for="formationName" class="latoBold f14 deepBlue" translate>Mot de passe <span
                          class="redColor ml-1">*</span></label>
                      <input type="password" formControlName="password"
                        class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="formationName"
                        placeholder="{{ 'Mot de passe' | translate }}" [ngClass]="{'is-invalid': submit&&g.password.errors}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
