<div class="row no-gutters" *ngIf="center">
  <div class="col-md-6">
    <span class="latoBold f18 deepBlue" translate>Abonnements</span>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Statut d'abonnement</span>
      <span class="latoBold f14 lightBlue mt-2">
        <div [ngSwitch]="center.status">
          <div *ngSwitchCase="'TRIAL'">Compte d'essai</div>
          <div *ngSwitchCase="'PENDING'">En attente</div>
          <div *ngSwitchCase="'IN-REVIEW'">En evaluation</div>
          <div *ngSwitchCase="'ACTIVE'">Compte actif</div>
          <div *ngSwitchCase="'BLOCKED'">Compte blocké</div>
          <div *ngSwitchDefault translate>Non mentionné</div>
        </div>
      </span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Date d'expiration d'abonnement</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.subscription_expiration |date:"dd-MM-yyyy"}} </span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Type d'abonnement</span>
      <span class="latoBold f14 lightBlue mt-2">
        <div [ngSwitch]=" center.type">
          <div *ngSwitchCase="'NURSERY'">Garderie</div>
          <div *ngSwitchCase="'SCHOOL'">Ecole privée</div>
          <div *ngSwitchCase="'CENTER'">Centre de formation</div>
          <div *ngSwitchDefault translate>Non mentionné</div>
        </div>
      </span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Etat d'abonnement</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.is_active==="true"?"actif":"inactif"}}</span>
    </div>
  </div>
</div>