<div class="container">
    <div class="pt-5 d-flex flex-column">
        <span class="latoBold f42 mainColor text-center" translate>Politique de confidentialité </span>
        <p class=" latoRegular f18 mt-3 black d-flex flex-column">
            <span translate>
                Dans cette page, nous vous aiderons à comprendre notre politique de confidentialité et nos conditions
                d'utilisation. Nous vous informerons sur les données que nous stockons, pourquoi nous les faisons et où
                les utiliser.
            </span>
            <span class="mt-2" translate>
                Date d'entrée en vigueur le 20 Février 2022
            </span>
        </p>
        <span class="f28 black latoBold " translate>Politique de confidentialité </span>
        <p class="latoRegular f18 black ">
            <span translate>
                classManager exploit <a href="https://class-manager.net/">class-manager.net</a> </span> <span translate>
                (le'Service')</span>.
        </p>
        <p class="mt-2 latoRegular f18 black " translate>
            Nous utilisons vos données pour fournir et améliorer le service
        </p>
        <span class="f24 black latoBold" translate>Collecte d'informations et utilisation</span>
        <p class="mt-1 latoRegular f18 black" translate>Nous recueillons plusieurs types d'informations à différentes
            fins pour la fourniture et l'amélioration de notre service.</p>
        <span class="f20 black latoBold" translate>Types de données collectées</span>
        <span class="f20 black latoBold mt-2" translate>Données personnelles</span>
        <p class="latoRegular f18 black" translate> Lors de l'utilisation de notre service</p>
        <p class="latoRegular f18 black" translate>Les informations personnellement identifiables peuvent inclure, sans
            toutefois s'y limiter:</p>
        <ul class="latoRegular f18 black">
            <li translate>Adresse électronique</li>
            <li translate>Nom et prénom</li>
            <li translate>Numéro de téléphone</li>
        </ul>
        <span class="f20 black latoBold mt-2" translate>Données de connexion</span>
        <p class="latoRegular f18 black" translate>Nous souhaitons vous informer que, chaque fois que vous utilisez
            notre service,</p>
        <span class="f28 black latoBold " translate>Les fournisseurs de services</span>
        <p class="latoRegular f18 black" translate>Nous pouvons employer des sociétés tierces et des particuliers pour
            les raisons suivantes: </p>
        <ul class="latoRegular f18 black">
            <li translate>Pour faciliter notre service;</li>
            <li translate>Fournir le service en notre nom;</li>
            <li translate>Effectuer des services liés aux services; ou</li>
            <li translate>Pour nous aider à analyser la manière dont notre service est utilisé.</li>
        </ul>
        <p class="latoRegular f18 black" translate>Nous souhaitons informer les utilisateurs de ce service que ces tiers
            ont accès à vos informations personnelles. La raison est d'accomplir les tâches qui leur sont assignées en
            notre nom. Cependant, ces derniers sont obligés de ne pas divulguer ni utiliser les informations à d'autres
            fins.</p>
        <span class="f20 black latoBold mt-2" translate>Utilisation des données</span>
        <p class="latoRegular f18 black" translate>Les informations personnelles que nous collectons sont utilisées pour
            fournir et améliorer le service. Nous n'utilisons, ni ne partagerons vos informations avec qui que ce soit,
            sauf dans les cas prévus dans la présente politique de confidentialité.</p>
        <p class="latoRegular f18 black" translate>Class-Manager OÜ utilise les données collectées pour différentes
            fins:</p>
        <ul class="latoRegular f18 black">
            <li translate>Fournir et maintenir le service.</li>
            <li translate>Pour vous avertir des changements de notre service.</li>
            <li translate>Pour vous permettre de participer aux fonctionnalités interactives de notre service lorsque
                vous le souhaitez.</li>
            <li translate>Assurer le service clientèle.</li>
            <li translate>Fournir des analyses ou des informations précieuses afin que nous puissions améliorer le
                service.</li>
            <li translate>Pour surveiller l'utilisation du service.</li>
            <li translate>Détecter, prévenir et résoudre les problèmes techniques.</li>
        </ul>
        <p class="latoRegular f18 black d-flex flex-column">
            <span translate>Votre consentement à cette politique de confidentialité, suivi de votre
                soumission de telles informations, représente votre accord à ce transfert.</span>
            <span translate>
                Class-Manager OÜ prendra toutes les mesures raisonnablement nécessaires
            </span>
        </p>
        <span class="f28 black latoBold " translate>Divulgation des données </span>
        <p class="latoRegular f18 black" translate>Class-Manager OÜ peut divulguer vos données personnelles en croyant
            de bonne foi qu'une telle action est nécessaire pour:</p>
        <ul class="latoRegular f18 black">
            <li translate>Se conformer à une obligation légale.</li>
            <li translate>Pour protéger et défendre les droits ou la propriété de Class-Manager OÜ.</li>
            <li translate>Pour prévenir ou rechercher des actes fautifs éventuels liés au Service.</li>
            <li translate>Pour protéger la sécurité personnelle des utilisateurs, du service ou du public.</li>
            <li translate>Protéger contre la responsabilité légale.</li>
        </ul>
        <span class="f20 black latoBold mt-2" translate>Sécurité des données</span>
        <p class="latoRegular f18 black"translate>La sécurité de vos données est importante pour nous</p>
        <span class="f20 black latoBold mt-2" translate>Confidentialité des données relatives aux enfants</span>
        <p class="latoRegular f18 black" translate>Ces services ne s'adressent pas aux personne de moins de 13 ans.</p>
        <span class="f28 black latoBold " translate>Changements à cette politique de confidentialité </span>
        <p class="latoRegular f18 black"translate>Nous pouvons parfois apporté des modifications sur les dispositions précédentes.</p>
    </div>
</div>