.fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
    box-shadow: 0px 1px 4px #3762f633;
}

.nofixed {
    position: static;
    transition: 0.2s linear;
    top: -50px;
}

