<div *ngIf="center">
  <div class="mt-2 mb-5">
    <span [routerLink]="selecctedCenter?['/traingCentres/details/'+selecctedCenter]:['/traingCentres']"  class="latoBlack f32 deepBlue clickableTr">Centres</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2" style="transform:rotate(-90deg)" alt="">
    <span class="latoBold f18 deepBlue">{{ center.name }}</span>
  </div>
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="d-flex">
        <img *ngIf="center.logo;else noPicture" src="{{ center.logo }}" alt="" class="centreLogo mr-3">
        <ng-template #noPicture>
          <div class="centreLogo mr-3"></div>
        </ng-template>
      <div class="d-flex flex-column">
        <span class="latoBold f18 deepBlue">{{ center.name }}</span>
        <span class="primaryColor latoBold f14 pt-1 text-capitalize">{{center?.town_verbose?.name_fr}}</span>
      </div>
  
    </div>
    <app-training-centre-information [showInformation]="true"*ngIf="activateRoute==='information'" ></app-training-centre-information>
  </div>
  <div class="mt-5">
      <ul class="nav py-2">
        <li class="nav-item">
          <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['information']" 
            routerLinkActive="router-link-active" (click)="changeRoute('information')">Informations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['centre-state']"
            routerLinkActive="router-link-active" (click)="changeRoute('centre-state')">Etat du centre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['modification']"
            routerLinkActive="router-link-active" (click)="changeRoute('modification')">Modification</a>
        </li>
      </ul>
    </div>
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
</div>