<div *ngIf="center">
  <div class="mt-2 mb-5">
    <span [routerLink]="selecctedCenter?['/traingCentres/details/'+selecctedCenter]:['/traingCentres']"
      class="latoBlack f32 deepBlue clickableTr" translate>Centres</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2 blueArrow" alt="">
    <span class="latoBold f18 deepBlue">{{ center.name }}</span>
  </div>
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="d-flex">
      <img *ngIf="center.logo;else noPicture" src="{{ center.logo }}" alt="" class="centreLogo mr-3">
      <ng-template #noPicture>
        <svg width="55" height="55" [data-jdenticon-value]="center.name" class="mr-3" style="border-radius: 50%;"></svg>
      </ng-template>
      <div class="d-flex flex-column">
        <span class="latoBold f18 deepBlue">{{ center.name }}</span>
        <span class="primaryColor latoBold f14 pt-1 text-capitalize d-flex">{{lang==="ar"?center?.town_verbose?.name_ar:
          center?.town_verbose?.name_fr}}</span>
      </div>

    </div>
    <app-training-centre-information [showInformation]="true" *ngIf="activateRoute==='information'">
    </app-training-centre-information>
    <button *ngIf="activateRoute==='subscriptions'"
      class="btn outletPrimary latoBold py-6 px-5 mr-3 borderRadsuis10 f14" translate
      (click)="openModal()">Modifier</button>
  </div>
  <div class="mt-5">
    <ul class="nav py-2">
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['information']"
          routerLinkActive="router-link-active" translate (click)="changeRoute('information')"
          translate>Informations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['centre-state']"
          routerLinkActive="router-link-active" translate (click)="changeRoute('centre-state')">Etat du centre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['modification']"
          routerLinkActive="router-link-active" translate (click)="changeRoute('modification')" translate>Historique de
          modification</a>
      </li>
      <li class="nav-item" *ngIf="decodedToken.type==='admin'">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['subscriptions']"
          routerLinkActive="router-link-active" translate (click)="changeRoute('subscriptions')">Abonnements</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
<div bsModal #editCenterModal="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="editCenterModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue">Modifier le center </span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4"
            (click)="editCenter(centerForm.value)">
            Sauvegarder</button>
        </div>
        <form [formGroup]="centerForm" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="status" class="latoBold f14 deepBlue"translate>Statut d'abonnement<span class="redColor ml-1">*</span></label>
              <select id="status" formControlName="status" [ngClass]="{'is-invalid': submit&&f.status.errors}"
              class="form-control latoRegular f14 lightBlue borderRadsuis10">
              <option value="" disabled >Sélectionner</option>
              <option value="TRIAL">Compte d'essai</option>
              <option value="PENDING">En attente</option>
              <option value="IN-REVIEW">En evaluation</option>
              <option value="ACTIVE">Compte actif</option>
              <option value="BLOCKED">Compte blocké</option>
            </select>
            </div>
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue">Date d'expiration</label>
              <input type="text" formControlName="subscription_expiration"
                placeholder="{{ 'Jour de debut de la formation' | translate }} "
                class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker [ngClass]="{'is-invalid': submit&&f.subscription_expiration.errors}"
                container="" [bsConfig]="bsConfig" placement="bottom">
            </div>
            <div class="form-group col-md-8">
              <label for="status" class="latoBold f14 deepBlue"translate>Type d'abonnement<span class="redColor ml-1">*</span></label>
              <select id="status" formControlName="type" [ngClass]="{'is-invalid': submit&&f.type.errors}"
              class="form-control latoRegular f14 lightBlue borderRadsuis10">
              <option value=null disabled >Sélectionner</option>
              <option value="NURSERY">Garderie</option>
              <option value="SCHOOL">Ecole privée</option>
              <option value="CENTER">Centre de formation</option>
            </select>
            </div>
            <div class="form-group col-md-8">
              <label for="status" class="latoBold f14 deepBlue"translate>Etat d'abonnement<span class="redColor ml-1">*</span></label>
              <select id="status" formControlName="is_active" [ngClass]="{'is-invalid': submit&&f.is_active.errors}"
              class="form-control latoRegular f14 lightBlue borderRadsuis10">
              <option [ngValue]= null disabled >Sélectionner</option>
              <option [ngValue]= "true">Actif</option>
              <option [ngValue]= "false">Inactif</option>
            </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>