<div class="row no-gutters">
        <div class="col-md-6">
          <span class="latoBold f18 deepBlue">Information</span>
          <div class="mt-4 d-flex flex-column">
            <span class="latoBold f14 deepBlue">Nom du centre</span>
            <span class="latoBold f14 lightBlue mt-2">Centre de formation des langues</span>
          </div>
          <div class="mt-4 d-flex flex-column">
            <span class="latoBold f14 deepBlue">Adresse</span>
            <span class="latoBold f14 lightBlue mt-2">Allée, Voie de Paris 195 Rousseau Delesseux</span>
          </div>
          <div class="mt-4 d-flex flex-column">
            <span class="latoBold f14 deepBlue">Ville</span>
            <span class="latoBold f14 lightBlue mt-2">Maelfurt</span>
          </div>
          <div class="mt-4 d-flex flex-column">
              <span class="latoBold f14 deepBlue">Phone</span>
              <span class="latoBold f14 lightBlue mt-2">+33 178233554</span>
            </div>
        </div>
        <div class="col-md-6">
          <span class="latoBold f18 deepBlue">Autre information</span>
          <div class="mt-4 d-flex flex-column">
            <span class="latoBold f14 deepBlue">Devise</span>
            <span class="latoBold f14 lightBlue mt-2">Dinar Algerien</span>
          </div>
          <div class="mt-4 d-flex flex-column">
            <span class="latoBold f14 deepBlue">Fuseau horaire</span>
            <span class="latoBold f14 lightBlue mt-2">00:00 Paris</span>
          </div>
          <div class="mt-4 d-flex flex-column">
            <span class="latoBold f14 deepBlue">Langue</span>
            <span class="latoBold f14 lightBlue mt-2">Français</span>
          </div>
        </div>
      </div>
      
