<div class="row no-gutters" *ngIf="!showInformation; else appBar">
  <div class="col-md-6">
    <span class="latoBold f18 deepBlue" translate>Information</span>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Nom du centre</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.name }}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Adresse</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.address ||"Non mentionné"}}
        <ng-container *ngIf="center?.town_verbose?.name_fr">
          ,{{lang==='ar'?center?.town_verbose?.name_ar: center?.town_verbose?.name_fr }}
         </ng-container>
       <ng-container *ngIf="center?.town_verbose?.region_verbose">
        ,{{lang==='ar'? center?.town_verbose?.region_verbose.name_ar:center?.town_verbose?.region_verbose.name_fr }}
       </ng-container>
      </span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Phone</span>
      <span class="latoBold f14 lightBlue mt-2"translate>{{ center.phone ||"Non mentionné" }}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Email</span>
      <span class="latoBold f14 lightBlue mt-2"translate>{{ center.email ||"Non mentionné" }}</span>
    </div>
  </div>
  <div class="col-md-6">
    <span class="latoBold f18 deepBlue" translate>Autre information</span>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Date d'expiration</span>
      <span class="latoBold f14 lightBlue mt-2">{{center?.subscription_expiration|date:'dd/MM/yyyy'}}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Langue</span>
      <span class="latoBold f14 lightBlue mt-2">{{center?.language==="FR"?"Français":" العربية"}}</span>
    </div>
    <div class="mt-5 mb-4">
      <span class="latoBold f18 deepBlue" translate>Manager du centre</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Nom du manager</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center?.manager?.user?.full_name }}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue" translate>Email</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center?.manager?.user?.email }}</span>
    </div>
  </div>
</div>
  <ng-template #appBar >
    <ng-container *ngIf="home.user.type!=='agent'">
    <div class="d-flex mt-3 mt-lg-0">
      <button class="btn outletPrimary latoBold py-6 px-5 mr-3 borderRadsuis10 f14" translate (click)="manageCenter.TraingCentre.show()" >Modifier</button>
      <button class="btn dangerousBtn latoBold py-6 px-5 mr-3 borderRadsuis10 f14"
        (click)="deleteModal.deleteModal.show()" *ngIf="decodedToken.type==='admin'" translate>Supprimer</button>
    </div>
  </ng-container>
  </ng-template>
<app-confirmation-modal #deleteModal (onConfirm)="onConfirm($event)"></app-confirmation-modal>
<app-manage-center #manageCenter [center]=center> </app-manage-center>
