<div class="row no-gutters" *ngIf="!showInformation; else appBar">
  <div class="col-md-6">
    <span class="latoBold f18 deepBlue">Information</span>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Nom du centre</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.name }}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Adresse</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.address ||"Non mentionée"}}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Ville</span>
      <span class="latoBold f14 lightBlue mt-2">{{center?.town_verbose?.name_fr ||"Non mentionée"}}</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Phone</span>
      <span class="latoBold f14 lightBlue mt-2">{{ center.phone ||"Non mentionée" }}</span>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <span class="latoBold f18 deepBlue">Autre information</span>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Devise</span>
      <span class="latoBold f14 lightBlue mt-2">Dinar Algerien</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Fuseau horaire</span>
      <span class="latoBold f14 lightBlue mt-2">00:00 Paris</span>
    </div>
    <div class="mt-4 d-flex flex-column">
      <span class="latoBold f14 deepBlue">Langue</span>
      <span class="latoBold f14 lightBlue mt-2">Français</span>
    </div>
  </div> -->
</div>
  <ng-template #appBar >
    <ng-container *ngIf="home.user.type!=='agent'">
    <div class="d-flex mt-3 mt-lg-0">
      <button class="btn outletPrimary latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="manageCenter.TraingCentre.show()">Modifier</button>
      <button class="btn dangerousBtn latoBold py-6 px-5 mr-3 borderRadsuis10 f14"
        (click)="deleteModal.deleteModal.show()">Supprimer</button>
    </div>
  </ng-container>
  </ng-template>
<app-confirmation-modal #deleteModal (onConfirm)="onConfirm($event)"></app-confirmation-modal>
<app-manage-center #manageCenter [center]=center> </app-manage-center>
