<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Utilisateur</th>
        <th scope="col">Modification</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="latoRegular f14 deepBlue">Directeur</td>
        <td class="latoRegular f14 deepBlue">Ajouter un centre</td>
        <td class="latoRegular f14 deepBlue">03/01/2020</td>
      </tr>
      <tr>
        <td class="latoRegular f14 deepBlue">Assistante</td>
        <td class="latoRegular f14 deepBlue">Changement</td>
        <td class="latoRegular f14 deepBlue">15/01/2020</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sapiente minima id!
</ng-template>