<div class="pt-3 pt-md-4 pt-lg-5">
    <div class="row no-gutters align-items-center">
        <div class="col-md-6 d-flex flex-column">
            <span class="f42 latoBlack deepBlue" translate>
                Suivez et gérér votre école ou centre de formation avec Class-manager
            </span>
            <div class="py-3">
                <span class="f18 latoRegular lightBlue">
                    Class-manager assiste dans le monde entier les entreprises comme les écoles de danse, les clubs
                    de
                    gymnastique, les clubs de natation, les clubs tennis et les écoles d'arts martiaux.
                </span>
            </div>
            <span class="mt-4">
                <a class="yellowBtn px-6 py-3" [routerLink]="['/trial-account']">
                    <span class="text-white latoBold f14 noWrap"> Commencez maintenant</span>
                </a>
            </span>
            <div class="mt-3">
                <span class="latoRegular f14 lightBlue">Vous avez déjà un compte ? </span>
                <a [routerLink]="['/login']" class="mainColor f14 latoBold"> Se connecter</a>
            </div>
        </div>
        <div class="col-md-6 position-relative">
            <img src="../../assets/images/png/Screenshot from 2021-11-07 18-47-51.png" class="inheritWidth" alt="">
            <div class="py-2 d-flex defineCourses floatingText">
                <img src="../../assets/images/svg/icons/Groupe 351.svg" alt="">
                <span class="latoBold f18 black px-3">Définir <br> les formations</span>
            </div>
            <div class="py-2 d-flex analyseCourse floatingText">
                <img src="../../assets/images/svg/icons/Groupe 351.svg" alt="">
                <span class="latoBold f18 black px-3">Analyser votre <br> score</span>
            </div>
        </div>
    </div>
</div>
<div class="pt-5">
    <span class="d-flex justify-content-center latoBold f42 deepBlue text-center">Comment commencez à travailler
        avec le site ?</span>
    <div class="row no-gutters mt-4 align-items-center">
        <div class="col-lg-6 position-relative">
            <img src="../../assets/images/png/Screenshot from 2021-11-08 08-34-01.png" alt="" class=" inheritWidth">
            <div class="py-2 d-flex schedule floatingText">
                <img src="../../assets/images/svg/icons/Groupe 352.svg" alt="">
                <span class="latoBold f18 black px-3">Etablir un emploi <br> du temps</span>
            </div>
            <div class="py-2 d-flex payment floatingText">
                <img src="../../assets/images/svg/icons/Groupe 351.svg" alt="">
                <span class="latoBold f18 black px-3">Suivre le paiement <br> des étudiants</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row ">
                <div class="col-md-6 d-flex">
                    <div class="cmCard ">
                        <div class=" d-flex justify-content-between">
                            <div class="order-1 ">
                                <div class="numbers d-flex justify-content-center align-items-center">
                                    <span class="lato latoBold text-white f18">1</span>
                                </div>
                            </div>
                            <div class="d-flex mt-4 px-3">
                                <div class="bigIcons d-flex justify-content-center align-items-center">
                                    <img src="../../assets/images/svg/icons/Groupe 350.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="px-3 py-4 d-flex flex-column">
                            <span class=" latoBold f24 mainColor">Créer un compte</span>
                            <p class="pt-2 lightBlue latoMeduim f14">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aliquam tincidunt porttitor augue non pharetra.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 pt-2 pt-md-0 d-flex">
                    <div class="cmCard ">
                        <div class=" d-flex justify-content-between">
                            <div class="order-1 ">
                                <div class="numbers d-flex justify-content-center align-items-center">
                                    <span class="lato latoBold text-white f18">2</span>
                                </div>
                            </div>
                            <div class="d-flex mt-4 px-3">
                                <div class="bigIcons d-flex justify-content-center align-items-center">
                                    <img src="../../assets/images/svg/icons/Groupe 350.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="px-3 py-4 d-flex flex-column">
                            <span class=" latoBold f24 mainColor">Ajouter un centre</span>
                            <p class="pt-2 lightBlue latoMeduim f14">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aliquam tincidunt porttitor augue non pharetra.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2 pt-lg-4">
                <div class="col-md-6 d-flex">
                    <div class="cmCard ">
                        <div class=" d-flex justify-content-between">
                            <div class="order-1 ">
                                <div class="numbers d-flex justify-content-center align-items-center">
                                    <span class="lato latoBold text-white f18">3</span>
                                </div>
                            </div>
                            <div class="d-flex mt-4 px-3">
                                <div class="bigIcons d-flex justify-content-center align-items-center">
                                    <img src="../../assets/images/svg/icons/Groupe 351.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="px-3 py-4 d-flex flex-column">
                            <span class=" latoBold f24 mainColor">Définir les formations</span>
                            <p class="pt-2 lightBlue latoMeduim f14">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aliquam tincidunt porttitor augue non pharetra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex pt-2 pt-md-0">
                    <div class="cmCard ">
                        <div class=" d-flex justify-content-between">
                            <div class="order-1 ">
                                <div class="numbers d-flex justify-content-center align-items-center">
                                    <span class="lato latoBold text-white f18">4</span>
                                </div>
                            </div>
                            <div class="d-flex mt-4 px-3">
                                <div class="bigIcons d-flex justify-content-center align-items-center">
                                    <img src="../../assets/images/svg/icons/Tracé 372.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="px-3 py-4 d-flex flex-column">
                            <span class=" latoBold f24 mainColor">Suivez vos étudiants</span>
                            <p class="pt-2 lightBlue latoMeduim f14">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aliquam tincidunt porttitor augue non pharetra.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-5">
    <div class="py-5 d-flex align-items-center flex-column blueBackground m-1 m-md-0 br20">
        <span class="latoBold f42 text-white text-center">Commancez maintenant avec Class-manager</span>
        <span class="mt-2 latoMeduim f18 text-white text-center">Créer un compte gratuitement est profitez de nos
            avantage pour
            30 jours</span>
        <div class="mt-5">
            <a class="whiteBtn borderRadsuis10 px-5 py-3" [routerLink]="['/trial-account']">
                <span class="mainColor latoBold f17 "> Essayer maintenant</span>
            </a>
        </div>
    </div>
</div>
<div class="pt-md-4 pt-lg-5 d-flex flex-column align-items-center" id="pricing">
    <span class="mt-2 latoBold f42 deepBlue text-center">Choisissez le forfait qui vous correspond</span>
    <tabset type="pills">
        <tab heading="Pills 1" customClass="months">
            <div class="row flex-items-xs-middle flex-items-xs-center">
                <div class="col-xs-12 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">Da</span>12<span class="period">000/mois</span></h3>
                        </div>
                        <div class="card-block text-center">
                            <h4 class="card-title">
                               Garderie
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item">30 jours gratuits</li>
                                <li class="list-group-item">10 utilisateurs</li>
                                <li class="list-group-item">1 GB de mémoire</li>
                                <li class="list-group-item">Système d'assistance 24/7</li>
                            </ul>
                            <a href="#" class="btn btn-gradient mt-2">Choisir le plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">Da</span>36<span class="period">000/mois</span></h3>
                        </div>
                        <div class="card-block text-center">
                            <h4 class="card-title">
                                Centre de formation
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item">30 jours gratuits</li>
                                <li class="list-group-item">10 utilisateurs</li>
                                <li class="list-group-item">1 GB de mémoire</li>
                                <li class="list-group-item">Système d'assistance 24/7</li>
                            </ul>
                            <a href="#" class="btn btn-gradient mt-2">Choisir le plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">Da</span>36<span class="period">000/mois</span></h3>
                        </div>
                        <div class="card-block text-center">
                            <h4 class="card-title">
                                École ou Academie
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item">30 jours gratuits</li>
                                <li class="list-group-item">10 utilisateurs</li>
                                <li class="list-group-item">1 GB de mémoire</li>
                                <li class="list-group-item">Système d'assistance 24/7</li>
                            </ul>
                            <a href="#" class="btn btn-gradient mt-2">Choisir le plan</a>
                        </div>
                    </div>
                </div>
        
            </div>
        </tab>
        <tab heading="Pills 2" customClass="years">Pills content 2</tab>
      </tabset>
</div>
<div class="pt-md-4 pt-lg-5">
    <div class="pb-5 d-flex align-items-center flex-column">
        <span class=" latoBold f42 deepBlue text-center">Inscrivez-vous dans notre Newsletter</span>
        <div class="pt-2 text-center">
            <span class="lightBlue f18 latoRegular ">Pour connaitre nos offres et promotions et les nouvelles mise à
                jour <br> envoyer nous votre mail maintenant</span>
        </div>
        <div class="row no-gutters w-100">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group pt-5">
                    <input type="email" class="form-control latoRegular lightBlue f18" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Ajouter votre adresse mail">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>