<div class="mt-2 mb-5">
  <span class="latoBlack f32 deepBlue">Formations</span>
</div>
<div class="mb-5 d-flex justify-content-end align-items-center">
  <button class="btn primaryButton latoBold noWrap py-6 px-md-5 mr-3 borderRadsuis10 f14" (click)="openModal(template)">Créer une session</button>
  <div class="">
    <input type="text" class="form-control customFomControl meduimFormContrl latoRegular f14" placeholder="Recherche">
  </div>
</div>
<div class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Formation</th>
        <th scope="col">Date de debut</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr class="clickableTr" [routerLink]="['stuff']"  >
        <td class="latoBold f14 deepBlue">Session d'hiver 2020</td>
        <td class="latoRegular f14 deepBlue">3</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
        <td class="latoRegular f14 greenColor">Activé</td>
      </tr>
      <tr>
        <td class="latoBold f14 deepBlue">Année 2021</td>
        <td class="latoRegular f14 deepBlue">3</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
        <td class="latoRegular f14 greenColor">Activé</td>
      </tr>
      <tr>
        <td class="latoBold f14 deepBlue">Cisco Training</td>
        <td class="latoRegular f14 deepBlue">3</td>
        <td class="latoRegular f14 deepBlue">01/12/2020</td>
        <td class="latoRegular f14 deepBlue">01/03/2021</td>
        <td class="latoRegular f14 redColor">Inactive</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="d-flex justify-content-end">
    <button class="btn p-0 closeButton" (click)="modalRef.hide()">
      <img src="../../assets/images/svg/icons/X.svg" alt="">
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-between mt-4 mb-3">
      <span class="latoBold f24 deepBlue">Créer une session</span>
      <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4"> Sauvegarder</button>
    </div>
    <div class="row no-gutters mt-5">
      <div class="col-10">
        <form>
          <div class="form-group">
            <label for="sessionName" class="latoBold f14 deepBlue">Nom de la session</label>
            <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
              id="sessionName" placeholder="Ajouter un nom">
          </div>
          <span class="latoBold f14 deepBlue">Jour de debut <span class="redColor">*</span></span>
          <div class="form-row mt-2 ">
            <div class="form-group col-4">
                <!-- <label for="sessionName" >Jour de debut</label> -->
                <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                  <option selected>Jour</option>
                  <option>...</option>
                </select>
            </div>
            <div class="form-group col-4">
              <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                <option selected>Mois</option>
                <option>...</option>
              </select>
          </div>
          <div class="form-group col-4">
            <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
              <option selected>Année</option>
              <option>...</option>
            </select>
        </div>
          </div>
          <span class="latoBold f14 deepBlue">Jour de fin <span class="redColor">*</span></span>
          <div class="form-row mt-2 ">
            <div class="form-group col-4">
                <!-- <label for="sessionName" >Jour de debut</label> -->
                <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                  <option selected>Jour</option>
                  <option>...</option>
                </select>
            </div>
            <div class="form-group col-4">
              <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
                <option selected>Mois</option>
                <option>...</option>
              </select>
          </div>
          <div class="form-group col-4">
            <select id="inputState" class="form-control latoRegular f14 lightBlue borderRadsuis10">
              <option selected>Année</option>
              <option>...</option>
            </select>
        </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
