
  <div class="mt-2 mb-5">
    <span class="latoBlack f32 deepBlue">Formations</span>
  </div>
  <div class="mb-5 d-flex justify-content-end align-items-center">
    <button class="btn primaryButton latoBold noWrap py-6 px-md-5 mr-3 borderRadsuis10 f14"
      (click)="openModal(template)">Créer une session</button>
    <div class="">
      <input type="text" class="form-control customFomControl meduimFormContrl latoRegular f14" placeholder="Recherche"  [(ngModel)]="search" (keyup.enter)="searchCenter()"> 
    </div>
  </div>
  <ng-container *ngIf="isLoaded;else notLoadedYet">
    <div *ngIf="sessions?.results?.length>0;else noSessions" class="table-responsive">
      <table class="table table-borderless">
        <thead class="latoRegular f14">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Formation</th>
            <th scope="col">Date de debut</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Status</th>
  
          </tr>
        </thead>
        <tbody>
          <tr class="clickableTr borderBottom" *ngFor="let session of sessions?.results" routerLink="stuff/{{ session.id }}">
            <td class="latoBold f14 deepBlue">{{ session?.name }}</td>
            <td class="latoRegular f14 deepBlue">{{ session?.coursesNumber }}</td>
            <td class="latoRegular f14 deepBlue">{{ session?.starting_date }}</td>
            <td class="latoRegular f14 deepBlue">{{ session?.finishing_date }}</td>
            <td class="latoBold f14 greenColor">Activé</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end mt-4 mr-2 align-items-center">
        <pagination [totalItems]="sessions.count" [itemsPerPage]="sessions.page_size" [boundaryLinks]="false"
          [customPreviousTemplate]="prevTemplate" [customNextTemplate]="nextTemplate" [customPageTemplate]="pageTemplate"
          [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
        </pagination>
        <ng-template #pageTemplate let-page let-disabled="disabled" let-currentPage="currentPage">
  
          <span *ngIf="page.number === currentPage" class="deepBlue f14 latoBold">Page {{ page.number }} of
            {{ sessions.total_pages }}</span>
        </ng-template>
  
        <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
          <ng-container *ngIf="!disabled">
            <div>
              <span class="f14 latoBold mainColor mr-2">Suivant</span>
              <svg class="icon" style="fill: #3762F6; transform: rotate(270deg)">
                <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
              </svg>
            </div>
          </ng-container>
          <ng-container *ngIf="disabled">
            <div>
              <span class="f14 latoBold lightBlue mr-2">Suivant</span>
              <svg class="icon" style="fill: #89A8CF; transform: rotate(270deg)">
                <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
              </svg>
            </div>
          </ng-container>
        </ng-template>
  
        <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
          <ng-container *ngIf="!disabled">
            <div class="d-flex align-items-center">
              <div class="mr-2">
                <svg class="icon" style="fill: #3762F6; transform: rotate(90deg)">
                  <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
                </svg>
              </div>
              <span class="f14 latoBold mainColor">Précedant</span>
            </div>
          </ng-container>
          <ng-container *ngIf="disabled">
            <div class="d-flex align-items-center">
              <div class="mr-2">
                <svg class="icon" style="fill: #89A8CF; transform: rotate(90deg)">
                  <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
                </svg>
              </div>
              <span class="f14 latoBold lightBlue">Précedant</span>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </ng-container>
<ng-template #noSessions>
  <div class=" d-flex justify-content-center pt-5">
    <span class="text-center latoMeduim f18 lightBlue">Vous n'avez pas encore des session , appuyez sur créer  pour les  insérer </span>
  </div>
</ng-template>
  <ng-template #template>
    <div class="d-flex justify-content-end">
      <button class="btn p-0 closeButton" (click)="modalRef.hide()">
        <img src="../../assets/images/svg/icons/X.svg" alt="">
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-between mt-4 mb-3">
        <span class="latoBold f24 deepBlue">Créer une session</span>
        <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4"
          (click)="addSession(sessionForm.value)"> Sauvegarder</button>
      </div>
      <div class="row no-gutters mt-5">
        <div class="col-md-10">
          <form [formGroup]="sessionForm" autocomplete="off">
            <div class="form-group">
              <label for="sessionName" class="latoBold f14 deepBlue">Nom de la session<span
                  class="redColor">*</span></label>
              <input type="text" formControlName="name"
                class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="sessionName"
                [ngClass]="{'is-invalid': f.name.errors && submit}" placeholder="Ajouter un nom">
            </div>
            <div class="form-group">
              <label for="name" class="latoBold f14 deepBlue">Jour de debut <span class="redColor">*</span></label>
              <input type="text" formControlName="starting_date" placeholder="Jour de debut de la session"
                [ngClass]="{'is-invalid': f.starting_date.errors && submit}"
                class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                container="" [bsConfig]="bsConfig" placement="bottom" (onHidden)="setMinDate()">
            </div>
            <div class="form-group">
              <label for="name" class="latoBold f14 deepBlue">Jour de fin <span class="redColor">*</span></label>
              <input type="text" formControlName="finishing_date" placeholder="Jour de fin de la session"
                [ngClass]="{'is-invalid': f.finishing_date.errors && submit}"(onShown)="setMinDate()"
                class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                [minDate]="minDate" container="" [bsConfig]="bsConfig" placement="bottom">
            </div>
            <div *ngIf="!this.center" class="form-group">
              <label for="gender" class="latoBold f14 deepBlue">Centre <span class="redColor ml-1">*</span></label>
              <select id="gender" formControlName="center" [ngClass]="{'is-invalid': f.center.errors && submit}"
                class="form-control latoRegular f14 lightBlue borderRadsuis10">
                <option [ngValue]=null>Sélectionner</option>
                <option *ngFor="let center  of centers" [ngValue]=center.id>{{ center.name }}</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
<ng-template #notLoadedYet>
  <app-loading></app-loading>
</ng-template>