<div *ngIf="courses.length>0" class="table-responsive">
  <table class="table table-borderless">
    <thead class="latoRegular f14">
      <tr>
        <th scope="col" style="width: 5%"></th>
        <th scope="col">Nom de la formation</th>
        <th scope="col">Nom de la session </th>
        <th scope="col">Date de debut</th>
        <th scope="col">Date de fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses" class="clickableTr">
        <td>
          <div class="form-group form-check d-flex align-items-center mb-0 ">
            <input type="checkbox" class="form-check-input" id="{{course.course_verbose.id}}" [(ngModel)]="course.checked "
              (change)="changeStatus($event.target.checked,course)">
            <label class="form-check-label" for="{{course.course_verbose.id}}"></label>
          </div>
        </td>
        <td class="latoRegular f14 deepBlue">{{course.course_verbose.name}}</td>
        <td class="latoRegular f14 deepBlue">{{course.session_verbose.name}}</td>
        <td class=" latoRegular f14 deepBlue">{{course.course_verbose.starting_date|date:'dd/MM/yyyy'}}</td>
        <td class=" latoRegular f14 deepBlue">{{course.course_verbose.finishing_date|date:'dd/MM/yyyy'}}</td>
      </tr>

    </tbody>
  </table>
</div>