<div bsModal #studentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{ ignoreBackdropClick: 'false' }" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="studentModal.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body p-4 mt-4">
        <div class="d-flex justify-content-between align-items-center">
          <span class="latoBold f24 deepBlue">Ajouter un étudiant</span>
          <div>
            <button class="btn primaryButton latoBold py-6 px-md-5 px-3  borderRadsuis10 f14"
              (click)="manageStudent(userForm.value)"translate>Sauvegarder</button>
          </div>
        </div>
        <div class="mt-4">

          <form [formGroup]="studentForm" autocomplete="off">
            <div class="row mt-3 ">
              <div class="col-md-6">
                <div class="mb-3">
                  <span class="latoBold f18 deepBlue"translate>Information</span>
                </div>
                <form [formGroup]="userForm" autocomplete="off">
                  <div class="form-group">
                    <label for="family_name" class="latoBold f14 deepBlue">Nom <span
                        class="redColor ml-1">*</span></label>
                    <input type="text" formControlName="family_name"
                      [ngClass]="{'is-invalid': submit&&f.family_name.errors}"
                      class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="family_name"
                      placeholder="Nom">
                  </div>
                  <div class="form-group">
                    <label for="name" class="latoBold f14 deepBlue"translate>Prénom <span class="redColor ml-1">*</span></label>
                    <input type="text" formControlName="name" [ngClass]="{'is-invalid': submit&&f.name.errors}"
                      class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="name"
                      placeholder="Prénom">
                  </div>
                  <div class="form-group">
                    <label for="email" class="latoBold f14 deepBlue" translate>Email <span class="redColor ml-1">*</span></label>
                    <input type="text" formControlName="email" [ngClass]="{'is-invalid': submit&&f.email.errors}"
                      class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="email"
                      placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="gender" class="latoBold f14 deepBlue"translate>Genre <span class="redColor ml-1">*</span></label>
                    <select id="gender" formControlName="gender" [ngClass]="{'is-invalid': submit&&f.gender.errors}"
                      class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option value=null disabled>Sélectionner</option>
                      <option value="M">Masculin</option>
                      <option value="F">Féminin</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name" class="latoBold f14 deepBlue"translate>Date de naissance <span
                        class="redColor">*</span></label>
                    <input type="text" formControlName="birthday" placeholder="Date d'enregistrement"
                      [ngClass]="{'is-invalid': submit&&f.birthday.errors}"
                      class="form-control largeFormControl latoRegular f14 lightBlue borderRadsuis10" bsDatepicker
                      container="" [bsConfig]="bsConfig" placement="bottom">
                  </div>
                  <span class="latoBold f14 deepBlue">Ajouter une photo</span>
                  <div class="form-group d-flex align-items-end p-2 mainBorder borderRadsuis10 mt-1">
                    <div [ngStyle]="{'background-image':imgUrl  ? 'url('+imgUrl+')' : '' }" class="imgPlaceholder mr-3">
                    </div>
                    <div>
                      <span class="latoMeduim f14 deepBlue d-block mb-2">{{ fileName }}</span>
                      <label for="file-upload"
                        class="custom-file-upload latoBold f14 greenBackground borderRadsuis10 text-white mb-0">Upload</label>
                      <input type="file" name="" id="file-upload" (change)="showPreviewImage($event)">
                    </div>
                  </div>
                </form>
                <div class="mt-5 mb-3">
                  <span class="latoBold f18 deepBlue">Information additionnel</span>
                </div>

                <div class="form-group">
                  <label for="level" class="latoBold f14 deepBlue"translate>Niveau </label>
                  <select id="level" formControlName="level"
                    class="form-control latoRegular f14 lightBlue borderRadsuis10">
                    <option value=null disabled selected>Sélectionner</option>
                    <option value="Primaire">Primaire</option>
                    <option value="Moyen">Moyen</option>
                    <option value="Secondaire">Secondaire</option>
                    <option value="Universitaire">Universitaire</option>
                    <option value="Licencé">Licencé</option>
                    <option value="Diplomé">Diplomé</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="mediacSituation" class="latoBold f14 deepBlue">Situation medicale</label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="mediacSituation" placeholder="Situation médicale">
                </div>
                <div class="form-group">
                  <label for="Ville" class="latoBold f14 deepBlue">Note générale </label>
                  <input type="text" formControlName="notes"
                    class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="Ville"
                    placeholder="Ajouter une note a propos de l'étudiant">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <span class="latoBold f18 deepBlue" translate>Autre information</span>
                </div>
                <div class="form-group">
                  <label for="Status" class="latoBold f14 deepBlue" translate>Status <span class="redColor ml-1">*</span></label>
                  <select id="Status" class="form-control latoRegular f14 lightBlue borderRadsuis10" formControlName="status"  [ngClass]="{'is-invalid': submit&&s.status.errors}">
                    <option value=null disabled selected>Sélectionner</option>
                    <option value="active">Active </option>
                    <option value="notActive">Inactive </option>
                  </select>
                </div>
                <div class="mt-5 mb-3">
                  <span class="latoBold f18 deepBlue">Client</span>
                </div>
                <div class="form-group">
                  <label for="clientName" class="latoBold f14 deepBlue">Choisir le nom du client</label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="clientName" placeholder="Nom du client" formControlName="next_contact_name">
                </div>
                <div class="form-group">
                  <label for="clientPhone" class="latoBold f14 deepBlue">Telephone</label>
                  <input type="text" class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10"
                    id="clientPhone" placeholder="Telephone" formControlName="next_contact_phone" [ngClass]="{'is-invalid': submit&&s.next_contact_phone.errors}">
                </div>
                <div *ngIf="!center &&!student" class="mt-5 mb-3">
                  <span class="latoBold f18 deepBlue"translate>Formation</span>
                </div>
                <form *ngIf="!center &&!student" [formGroup]="centerForm">
                  <div class="form-group">
                    <label for="center" class="latoBold f14 deepBlue"translate>Centre <span
                        class="redColor ml-1">*</span></label>
                    <select id="center" formControlName="center" [ngClass]="{'is-invalid': submit&&c.center.errors}"
                      class="form-control latoRegular f14 lightBlue borderRadsuis10">
                      <option [ngValue]=null>Sélectionner</option>
                      <option *ngFor="let center of centers" [ngValue]=center.id>{{center.name}}</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
