.sidenav {
  right: 0;
  border-left: 1px solid #edf0f5;
}
/* *************************************************font family*************************************************  */
.latoBlack {
  font-family: cairoBlack;
}

.latoRegular {
  font-family: cairoRegular;
}

.latoBold {
  font-family: cairoBold;
}

.latoMeduim {
  font-family: cairoMeduim;
}
.ng-select
  ::ng-deep.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-position-x: 10% !important;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  left: 9999px;
}
body {
  text-align: right;
}
.blueArrow {
  transform: rotate(90deg);
}
ul {
  padding-inline-start: 0px !important;
}
select {
  background-position-x: 2% !important;
}
.searchBtn {
  left: 0;
}
.pagination-prev.page-item .mr-2 {
  transform: rotateY(180deg);
}
.pagination-next.page-item div svg{
  transform: rotate(90deg) !important;
}
.form-check input:checked + label:after {
  right: 5px;
}
.form-check label:before {
  margin-left: 10px;
}
full-calendar h2{
  font-family: cairoBlack;
  text-transform: capitalize !important;
}
full-calendar .fc-col-header-cell-cushion {
  font-family: cairoRegular; 
}
full-calendar .fc-scrollgrid-shrink-cushion {
  font-family: cairoBold; 
}
full-calendar .fc-button-primary, full-calendar .fc-button-primary:not(:disabled):active{
  background-color: #3762f6 !important;
  border-color: #3762f6 !important;
  font-family: cairoMeduim !important
}
full-calendar  .fc-button:focus{
  box-shadow: unset !important;
}

full-calendar th,full-calendar td{
  border: 1px solid #e2e9f3 !important;
}
full-calendar .fc-event-title{
  font-family: cairoMeduim !important;
}
full-calendar  .fc-daygrid-day-number{
  font-family: cairoBold;
}
full-calendar  tbody > tr:hover {
  -webkit-animation:unset !important;
  animation:unset !important;
}
.usernameImg,
.passwordImg {
    transform: translate3d(-50%, -50%, 0);
    right: 1%;
}
.UsernameInput,
.passwordInput {
    padding-right: 2.5rem;
}
.ng-select.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-position-x: 0%;
}
.backgroundRow{
  background-position-x: 10%;
}