.sidenav {
  left: 0;
  border-right: 1px solid #edf0f5;
}
/* *************************************************font family*************************************************  */
.latoBlack {
  font-family: latoBlack;
}

.latoRegular {
  font-family: latoRegular;
}

.latoBold {
  font-family: latoBold;
}

.latoMeduim {
  font-family: latoMeduim;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  left: -9999px;
}
.blueArrow {
  transform: rotate(-90deg);
}
body {
  text-align: left;
}
select {
  background-position-x: 95% !important;
}
#dropdown-basic {
  inset: 100% auto auto -75px !important;
}
.searchBtn {
  right: 0;
}
.form-check input:checked + label:after {
  left: 5px;
}
.form-check label:before {
  margin-right: 10px;
}