<div class="mt-2 mb-5">
  <span class="latoBlack f32 deepBlue">Professeurs</span>
</div>
<div class="mb-5 d-lg-flex justify-content-end align-items-center">
  <div class="d-flex">
    <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14"
      (click)="professorModal.professorModal.show()">Créer
    </button>
    <div class="d-lg-none">
      <input type="text" class="form-control customFomControl meduimFormContrl latoRegular f14" placeholder="Recherche" [(ngModel)]="search"(keyup.enter)="searchCenter()">
    </div>
  </div>
  <div class="d-none d-lg-block">
    <input type="text" class="form-control customFomControl meduimFormContrl latoRegular f14" placeholder="Recherche" [(ngModel)]="search"(keyup.enter)="searchCenter()">
  </div>
</div>
<ng-container *ngIf="isLoaded;else notLoaded">
  <div *ngIf="professors?.results?.length>0 else noProfessors" class="table-responsive">
    <table class="table table-borderless">
      <thead class="latoRegular f14">
        <tr>
          <th scope="col" style="width: 10%"></th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Centre de formation</th>
          <th scope="col">Status</th>
          <th scope="col">Profession</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of professors?.results" class="clickableTr" (click)="gotoDetails(student.id)">
          <td class="d-flex justify-content-center align-items-center" *ngIf="student.user.picture;else nopic"><img
              src="{{ student.user.picture }}" alt="" class="roundedImg"></td>
          <ng-template #nopic>
            <td class="d-flex align-items-center justify-content-center">
              <svg width="38" height="38" [data-jdenticon-value]="student.user.username"
                style="border-radius: 50%;"></svg>
            </td>
          </ng-template>
          <td class="latoRegular f14 deepBlue">{{student?.id}}</td>
          <td class="latoRegular f14 deepBlue">{{ student?.user.family_name }} {{ student?.user.name }}</td>
          <td class=" latoBold f14 greenColor">{{ student?.user.phone }}</td>
          <td class=" latoRegular f14 deepBlue">{{ student?.center_verbose.name }}</td>
          <td class=" latoBold f14 "
            [ngClass]="{'greenColor': student?.status==='active','redColor': student?.status==='notActive'}">{{
            student?.status==="active"? "Active":"Inactive" }}</td>
          <td class="latoRegular f14 deepBlue">Français</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end mt-4 mr-2 align-items-center">
      <pagination [totalItems]="professors.count" [itemsPerPage]="professors.page_size" [boundaryLinks]="false"
        [customPreviousTemplate]="prevTemplate" [customNextTemplate]="nextTemplate"
        [customPageTemplate]="pageTemplate" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
      </pagination>
      <ng-template #pageTemplate let-page let-disabled="disabled" let-currentPage="currentPage">

        <span *ngIf="page.number === currentPage" class="deepBlue f14 latoBold">Page {{ page.number }} of
          {{ professors.total_pages }}</span> {{professors.page_size}}
      </ng-template>

      <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <ng-container *ngIf="!disabled">
          <div>
            <span class="f14 latoBold mainColor mr-2">Suivant</span>
            <svg class="icon" style="fill: #3762F6; transform: rotate(270deg)">
              <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
            </svg>
          </div>
        </ng-container>
        <ng-container *ngIf="disabled">
          <div>
            <span class="f14 latoBold lightBlue mr-2">Suivant</span>
            <svg class="icon" style="fill: #89A8CF; transform: rotate(270deg)">
              <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
            </svg>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <ng-container *ngIf="!disabled">
          <div class="d-flex align-items-center">
            <div class="mr-2">
              <svg class="icon" style="fill: #3762F6; transform: rotate(90deg)">
                <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
              </svg>
            </div>
            <span class="f14 latoBold mainColor">Précedant</span>
          </div>
        </ng-container>
        <ng-container *ngIf="disabled">
          <div class="d-flex align-items-center">
            <div class="mr-2">
              <svg class="icon" style="fill: #89A8CF; transform: rotate(90deg)">
                <use xlink:href="../../assets/images/svg/icons/arrow.svg#ic_expand_more_24px"></use>
              </svg>
            </div>
            <span class="f14 latoBold lightBlue">Précedant</span>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</ng-container>
<ng-template #noProfessors>
  <div class=" d-flex justify-content-center pt-5">
    <span class="text-center latoMeduim f18 lightBlue">Vous n'avez pas encore des professeurs , appuyez sur créer pour
      les insérer </span>
  </div>
</ng-template>
<app-manage-professors #professorModal></app-manage-professors>
<ng-template #notLoaded>
  <app-loading></app-loading>
</ng-template>