<div *ngIf="student">
  <div class="mt-2 mb-5">
    <span [routerLink]="['/students']"queryParamsHandling="merge" class="latoBlack f32 deepBlue clickableTr">Etudiants</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2" style="transform:rotate(-90deg)" alt="">
    <span class="latoBold f18 deepBlue">{{ student.user.name }}</span>
  </div>
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img *ngIf="student.user.picture;else noPicture" src="{{ student.user.picture }}" alt="" class="centreLogo mr-3">
      <ng-template #noPicture>
        <div class="centreLogo mr-3"></div>
      </ng-template>
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <span class="latoBold f18 deepBlue mr-3 mr-md-5 noWrap">{{ student.user.name }}</span>
        </div>
        <div>
          <span class="primaryColor latoBold f14 mr-3">Français - Anglais</span>
        </div>
      </div>
      <!-- <ng-select [items]="cities3" bindLabel="name" bindValue="name" placeholder="Select city" class="ngselect latoBold f12" [(ngModel)]="selectedCityName">
              </ng-select> -->
    </div>
    <div *ngIf="student">
      <app-student-information [showDiv]="true" *ngIf="activateRoute==='information'"></app-student-information>
      <app-student-paiments *ngIf="activateRoute==='paiment'" [showDiv]="true"></app-student-paiments>
      <app-presence *ngIf="activateRoute==='presence'" [showDiv]="true"></app-presence>
      <!-- <app-student-modification *ngIf="activateRoute==='modification'"></app-student-modification> -->

    </div>
  </div>
  <div class="mt-5">
    <ul class="nav py-2">
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['information']"queryParamsHandling="merge"
          (click)="changeRoute('information')" routerLinkActive="router-link-active">Informations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['paiment']"queryParamsHandling="merge" (click)="changeRoute('paiment')"
          routerLinkActive="router-link-active">Paiement des formation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['presence']"queryParamsHandling="merge"
          (click)="changeRoute('presence')" routerLinkActive="router-link-active">Présences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['modification']"queryParamsHandling="merge"
          (click)="changeRoute('modification')" routerLinkActive="router-link-active">Modification</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
