full-calendar ::ng-deep h2{
    font-family: latoBlack;
}
full-calendar ::ng-deep .fc-col-header-cell-cushion {
    font-family: latoRegular; 
}
full-calendar ::ng-deep .fc-scrollgrid-shrink-cushion {
    font-family: latoBold; 
}
full-calendar ::ng-deep .fc-button-primary, full-calendar ::ng-deep .fc-button-primary:not(:disabled):active{
    background-color: #3762f6 !important;
    border-color: #3762f6 !important;
    font-family: latoMeduim !important
}
full-calendar ::ng-deep  .fc-button:focus{
    box-shadow: unset !important;
}

full-calendar ::ng-deep th,full-calendar ::ng-deep td{
    border: 1px solid #e2e9f3 !important;
}
full-calendar ::ng-deep .fc-event-title{
    font-family: latoMeduim !important;
}
/* full-calendar ::ng-deep .fc-scroller{
    overflow: hidden !important;
} */