<div class="row no-gutters h100">
  <div class="overlay" (click)="closeNav()" id="overlay">
  </div>
  <div class="col-md-4 col-lg-3 col-xl-2 p-0">
    <div id="mySidenav" class="sidenav position-md-unset">
      <div class="d-flex justify-content-center py-3">
        <img src="../../assets/images/svg/icons/logo.svg" alt="" style="width: 170px">
      </div>
      <ul class="navbar-nav flex-column w-100 px-3">
        <li *ngIf="selecctedCenter && (user.type==='manager'||user.type=='admin')" class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center"
            [routerLink]="['/dashboard']" (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/dashboard.svg#Groupe_349"></use>
            </svg>
            Dashboard
          </a>
        </li>
        <li class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center"
            [routerLink]="selecctedCenter?['/traingCentres/details/'+selecctedCenter]:['/traingCentres']"
            (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Centre.svg#Groupe_350"></use>
            </svg>
            Centre
          </a>
        </li>
        <li class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center"
            [routerLink]="['/formation']" (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Formation.svg#Groupe_351"></use>
            </svg>
            Formations
          </a>
        </li>
        <li *ngIf="selecctedCenter && (user.type==='manager'||user.type=='admin')" class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" [routerLink]="['/calendar']"
            (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/calendar.svg#Groupe_352"></use>
            </svg>
            Calendrier
          </a>
        </li>
        <li class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" [routerLink]="['/students']"
            (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Student.svg#Tracé_372"></use>
            </svg>
            Etudiants
          </a>
        </li>
        <li class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center"
            [routerLink]="['/professeurs']" (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Staf.svg#Groupe_354"></use>
            </svg>
            Professeurs
          </a>
        </li>
        <li class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" [routerLink]="['/paiment']"
            (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/wallet.svg#Groupe_353"></use>
            </svg>
            Paiement
          </a>
        </li>
        <li *ngIf="selecctedCenter && (user.type==='manager'||user.type=='admin')" class="nav-item my-1">
          <a translate class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" [routerLink]="['/settings']"
            (click)="closeNav()" routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Settings.svg#ic_settings_24px"></use>
            </svg>
            Paramétres
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="user" class="col-md-8 col-lg-9 col-xl-10">
    <div id="main" class="p-3 p-md-4 px-lg-5 py-lg-3">
      <div class="d-md-flex align-items-center ">
        <button class="btn p-0 d-md-none bg-white" (click)="openNav()">
          <img src="../../assets/images/svg/icons/fries.svg" alt="">
        </button>
        <div class="d-flex mt-3 mt-md-0 justify-content-between w-100 align-items-center">
          <span>
            <span class="latoBold f18 black" translate>Bienvenue sur </span>
            <span *ngIf="user?.type==='admin';else Welcoming" class="mainColor latoRegular f18 clickableTr"
              (click)="trainingCenters.show()"> Class-Manager</span>
            <ng-template #Welcoming>
              <span class="mainColor latoRegular f18 text-capitalize"> {{manager?.center_verbose.name}} </span>
            </ng-template>
          </span>
          <div *ngIf="user" class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button"
              class="btn latoBold f14 deepBlue  bg-white dropdown-toggle" aria-controls="dropdown-basic">
              {{ user.name }} {{ user.family_name }} <img src="../../assets/images/svg/icons/arrow.svg" class="ml-2"
                alt=""> <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item latoMeduim f14 deepBlue mt-3 mr-md-3 clickableTr"
                  (click)="accountSettings.show()" translate>Paramétres du compte</a></li>
              <li role="menuitem"><a class="dropdown-item latoMeduim f14 deepBlue mt-3 mr-md-3 clickableTr"
                  (click)="changePassword.show()" translate>Changer le mot de passe</a></li>
              <li role="menuitem"><a class="dropdown-item latoMeduim f14 deepBlue mt-3 mr-md-3 clickableTr"
                  (click)="logout.show()" translate>Se deconnecter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <ng-container *ngIf="user?.type==='admin';else usermanager">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #usermanager>
        <ng-container *ngIf="manager &&user">
          <router-outlet></router-outlet>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
<div bsModal #accountSettings="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="accountSettings.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue" translate>Paramétres du compte</span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4" (click)="editUser(userForm.value)"
            translate>
            Sauvegarder</button>
        </div>
        <form *ngIf="userForm" [formGroup]="userForm" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue" translate>Nom</label>
              <input type="text" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="name" placeholder="{{ 'Votre nom' | translate }}" formControlName="name">
            </div>
            <div class="form-group col-md-8">
              <label for="surname" class="latoBold f14 deepBlue" translate>Prénom</label>
              <input type="text" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="surname" placeholder="{{ 'Votre prénom' | translate }}" formControlName="family_name">
            </div>
            <div class="form-group col-md-8">
              <label for="email" class="latoBold f14 deepBlue" translate>Email</label>
              <input type="email" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="email" placeholder="{{ 'Votre email' | translate }}" formControlName="email">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #trainingCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{ ignoreBackdropClick: 'false' }" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="trainingCenters.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="pt-4">
          <span class="latoBold f24 deepBlue mb-2 d-flex" translate>Ouvrir un centre de formation</span>
          <div *ngFor="let center of centres" class="mt-2 d-flex">
            <input type="radio" id="center{{ center.id }}" name="radio-group"
              (change)="chooseCenter($event.target.checked,center.id)" [checked]="seleccted==center.id">
            <label class="darkBlue latoMeduim f14" for="center{{ center.id }}">{{ center.name }}</label>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button class="latoBold f14 deepBlue btn mr-4" translate (click)="cancelSelection()" translate>Annuler</button>
          <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="selectCenter()"
            translate>Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #logout="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="logout.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="p-3 p-md-4 p-lg-5">
          <span class="latoBold f24 deepBlue" translate>Etes vous sur de vouloir se déconnecter</span>
        </div>
        <div class="d-flex justify-content-end">
          <button class="latoBold f14 deepBlue btn mr-4" translate (click)="logout.hide()" translate>Annuler</button>
          <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="logoutFunction()"
            translate>Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #changePassword="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="changePassword.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue" translate>Changer le mot de passe</span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4"
            (click)="resetPassword(resetPasswordForm.value)"translate>
            Sauvegarder</button>
        </div>
        <form *ngIf="userForm" [formGroup]="resetPasswordForm" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue" translate>Mot de passe actual</label>
              <input type="password" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="name" placeholder="{{ 'Mot de passe actual' | translate }}" formControlName="oldPasword"
                [ngClass]="{'is-invalid': submit&&f.oldPasword.errors}">
            </div>
            <div class="form-group col-md-8">
              <label for="newPassword" class="latoBold f14 deepBlue"translate>Nouveau mot de passe</label>
              <input type="password" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="newPassword" placeholder="{{ 'Nouveau mot de passe' | translate }}" formControlName="newPassword"
                [ngClass]="{'is-invalid': submit&&f.newPassword.errors}">
            </div>
            <div class="form-group col-md-8">
              <label for="confirmation" class="latoBold f14 deepBlue"translate>Confirmation de mot de passe</label>
              <input type="password" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="confirmation" placeholder="{{ 'Confirmation de mot de passe' | translate }}" formControlName="confirmedPassword"
                [ngClass]="{'is-invalid': submit&&f.confirmedPassword.errors}">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>