.active-link {
  color: #ffffff !important;
  background-color: #3762F6 !important;
  box-shadow: 0px 1px 4px #89A8CF;
  border-radius: 5px
}

a {
  color: #08102B !important;
  text-decoration: unset !important
}

.active-link svg {
  fill: #ffffff !important
}

.nav-link svg {
  fill: #89A8CF
}

.icon {
  width: 1.3rem;
  height: 1.3rem
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #ffffff;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  height: 100%
}

@media screen and (min-width: 768px) {
  .position-md-unset {
    position: unset !important;
    width: unset !important
  }

  .h100 {
    height: 100% !important
  }

  .overlay {
    width: unset !important;
    height: unset !important
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  opacity: 0;
  position: fixed
}

.overlay.active {
  display: block;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.1;
  z-index: 1 !important
}

.dashIcon {
  width: .6rem
}

.dropdown-toggle::after {
  display: none !important
}

.btn-group ::ng-deep #dropdown-basic {
  box-shadow: 0px 1px 4px #3762F633;
  opacity: 1;
  border-radius: 10px;
  border: unset !important
}
.searchIcon{
  top: 25%;
  left: 3%
}
.customInput{
  padding: .375rem 2rem !important;
  border-radius: 1.25rem;
  border:1px solid #ffffff !important
}
.customInput:focus{
box-shadow:0 0 0 0.2rem #3762F633 !important
}