<div class="row no-gutters h100">
  <div class="overlay" (click)="closeNav()" id="overlay">
  </div>
  <div class="col-md-4 col-lg-3 col-xl-2 p-0">
    <div id="mySidenav" class="sidenav position-md-unset">
      <p class="text-center deepBlue f20 py-3 d-flex justify-content-center align-items-center">
        <span class="latoBlack">Class</span>
        <img src="../../assets/images/svg/icons/dash.svg" class="dashIcon" alt="">
        <span class="latoRegular">manager</span>
      </p>
      <ul class="navbar-nav flex-column w-100 px-3">
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/dashboard']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/dashboard.svg#Groupe_276"></use>
            </svg>
            Dashboard
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/formation']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Formation.svg#Tracé_64"></use>
            </svg>
            Formations
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/traingCentres']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Centre.svg#Groupe_272"></use>
            </svg>
            Centres
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/students']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Student.svg#Groupe_273"></use>
            </svg>
            Etudiants
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/professeurs']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Staf.svg#Groupe_274"></use>
            </svg>
            Professeurs
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/paiment']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/wallet.svg#Groupe_275"></use>
            </svg>
            Paiement
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link px-3 latoRegular f14 py-3 d-flex align-items-center" queryParamsHandling="merge" [routerLink]="['/settings']"
            routerLinkActive="active-link">
            <svg class="icon mr-2">
              <use xlink:href="../../assets/images/svg/icons/Settings.svg#ic_settings_24px"></use>
            </svg>
            Paramétres
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8 col-lg-9 col-xl-10">
    <div id="main" class="p-3 p-md-4 px-lg-5 py-lg-3">
      <div class="d-md-flex align-items-center ">
        <button class="btn p-0 d-md-none bg-white" (click)="openNav()">
          <img src="../../assets/images/svg/icons/fries.svg" alt="">
        </button>
        <div class="d-flex mt-3 mt-md-0 justify-content-between w-100 align-items-center">
          <span>
            <span class="latoBold f18 black">Bienvenue sur </span>
            <span class="mainColor latoRegular f18 clickableTr" (click)="trainingCenters.show()"> Centre de formation des langues</span>
          </span>
          <div class="position-relative d-none d-md-block">
            <img src="../../assets/images/svg/icons/Search.svg" class="position-absolute searchIcon" alt="">
            <input type="text" class="form-control latoRegular f-14 customInput" id="name" autocomplete="off"
              placeholder="Search some things" >
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button"
              class="btn latoBold f14 deepBlue  bg-white dropdown-toggle" aria-controls="dropdown-basic">
              Luise Simon <img src="../../assets/images/svg/icons/arrow.svg" class="ml-2" alt=""> <span
                class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item latoMeduim f14 deepBlue mt-3 mr-md-3" href="javascript:void()"
                  (click)="accountSettings.show()">Paramètre du compte</a></li>
              <li role="menuitem"><a class="dropdown-item latoMeduim f14 deepBlue mt-3 mr-md-3" href="#">Changer le mot
                  de passe</a></li>
              <li role="menuitem"><a class="dropdown-item latoMeduim f14 deepBlue mt-3 mr-md-3" href="#">Se
                  deconnecter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div bsModal #accountSettings="bs-modal" class="modal fade" tabindex="-1" [config]="{ ignoreBackdropClick: 'false' }"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="accountSettings.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between mt-4 mb-3 align-items-center">
          <span class="latoBold f24 deepBlue">Changer mot de passe</span>
          <button class="btn primaryButton latoBold f14 borderRadsuis10 py-2 px-4"> Sauvegarder</button>
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name" class="latoBold f14 deepBlue">Nom</label>
              <input type="text" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="name" placeholder="Votre nom" value="Luis">
            </div>
            <div class="form-group col-md-8">
              <label for="surname" class="latoBold f14 deepBlue">Prénom</label>
              <input type="text" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="surname" placeholder="Votre prénom" value="Simon">
            </div>
            <div class="form-group col-md-8">
              <label for="email" class="latoBold f14 deepBlue">Email</label>
              <input type="email" class="form-control customFomControl largeFormControl latoMeduim f14 deepBlue"
                id="email" placeholder="Votre email" value="l.simon@escrt.com">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #trainingCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog"[config]="{ ignoreBackdropClick: 'false' }"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="trainingCenters.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="pt-4">
          <span class="latoBold f24 deepBlue mb-2">Ouvrir un centre de formation</span>
          <div *ngFor="let center of centres" class="mt-2">
            <input type="radio" id="center{{ center.id }}" name="radio-group" (change)="chooseCenter($event.target.checked,center.id)" >
            <label class="darkBlue latoMeduim f14" for="center{{ center.id }}">{{ center.name }}</label>
        </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button class="latoBold f14 deepBlue btn mr-4" (click)="cancelSelection()">Annuler</button>
          <button class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14"(click)="selectCenter()">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>