<div *ngIf="course && session">
  <div class="mt-2 mb-5 d-flex align-items-center">
    <span [routerLink]="['/formation']" class="latoBlack f32 deepBlue clickableTr"translate>Formations</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2 blueArrow" alt="">
    <span routerLink="/formation/stuff/{{ param }}" class="latoBold f18 deepBlue clickableTr">{{session.name}}</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2 blueArrow" alt="">
    <span class="latoBold f14 deepBlue">{{course.name}}</span>
  </div>
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column mr-2">
        <div class="d-flex align-items-center">
          <span class="latoBold f18 deepBlue mr-3 mr-md-5 noWrap">{{course.name}}</span>
        </div>
        <div>
          <span class="primaryColor latoBold f14 mr-3"translate>Paiement:</span>
          <span class="primaryColor latoBold f14">225,000 {{ 'Da' | translate }}</span>
        </div>
      </div>
      <ng-select appearance="outline" [searchable]="false" [clearable]="false"
      labelForId="heroId" class="ngselect latoBold f12 pb-1 ng-select" [(ngModel)]="course.status" placeholder="{{ 'Sélectionner' | translate }}">
      <ng-option value="active" translate>
        Active
      </ng-option>
      <ng-option value="notActive"translate>
        Inactive
      </ng-option>
    </ng-select>
    </div>
    <div>
      <div *ngIf="course">
        <app-information [showDiv]="true" *ngIf="activateRoute==='information'"></app-information>
        <button *ngIf="StudentdetailsComponent?.checkedStudents?.length>0 && activateRoute==='student-details'" class="btn dangerousBtn latoBold py-6 px-5 mr-3 borderRadsuis10 f14"
          (click)="deleteModal.deleteModal.show()" translate>Supprimer</button>
          <button *ngIf="activateRoute==='student-details'" class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14"
            (click)="openStudentModal()" translate>Ajouter un étudiant</button>
      </div>

    </div>
  </div>
  <div class="mt-5">
    <ul class="nav py-2">
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['information']"
          routerLinkActive="router-link-active" (click)="changeRoute('information')"translate>Informations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['student-details']"
          (click)="changeRoute('student-details')" routerLinkActive="router-link-active"translate>Etudiants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['modification']"
          (click)="changeRoute('modification')" routerLinkActive="router-link-active"translate>Historique de modification</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <!-- <router-outlet></router-outlet> -->
    <app-studentdetails #StudentdetailsComponent *ngIf="activateRoute==='student-details'"></app-studentdetails>
    <app-information *ngIf="activateRoute==='information'"></app-information>
    <app-modifcation *ngIf="activateRoute==='modification'"></app-modifcation>
  </div>
</div>
<app-confirmation-modal #deleteModal (onConfirm)="onConfirm($event)"></app-confirmation-modal>
<div bsModal #addStudent="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="addStudent.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
       <div  class="p-3 p-md-4 p-lg-5">
         <div class="d-flex justify-content-between">
          <span class="latoBold f24 black">Ajouter des étudiants</span>
          <button class="btn primaryButton latoBold py-6 px-md-5 px-3 borderRadsuis10 f14"
           translate>Sauvegarder</button>
         </div>
          <div class="form-group mb-4">
            <label for="sessionName"  class="latoBold f14 deepBlue"  translate>Nom de l'édutiant <span
                class="redColor">*</span></label>
            <input [(ngModel)]="student" type="text"(blur)="getStudents(1)"
              class="form-control largeFormControl latoMeduim f14 deepBlue borderRadsuis10" id="sessionName" placeholder="{{ 'Ajouter un nom' | translate }}">
          </div>
          <div *ngFor="let student of students" class="d-flex justify-content-between p-2 borderBottom">
            <div>
              <img *ngIf="student?.user.picture;else nopic" src="{{ student.user.picture }}" alt="" class="roundedImg">
              <ng-template #nopic>
                <svg width="38" height="38" [data-jdenticon-value]="student.user.username"  style="border-radius: 50%;"></svg>
              </ng-template>
              <span class="latoBold f14 mainColor px-2">{{ student?.id}}</span>
              <span class="latoRegular f14 black">{{student?.user.family_name}} {{ student?.user.name }}</span>
            </div>
            <div>
              <button class="btn">
                <img src="../../../../assets/images/svg/icons/close.svg" alt="">
              </button>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>