.customNgSelect {
  width: 100% !important;
}
.customNgSelect ::ng-deep .ng-select-container {
  border-radius: 10px !important;
  border: 1px solid #e2e9f3;
}
.customNgSelect ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: unset !important;
  color: #ffffff !important;
}
.customNgSelect ::ng-deep .ng-select-container .ng-value-container .ng-value {
  background-color: #3762f6 !important;
  border-radius: 5px !important;
}
.customNgSelect ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-label {
  color: #ffffff;
  font-family: latoMeduim,cairoMeduim !important;
  font-size: 14px !important;
}
.customNgSelect ::ng-deep .ng-select-container .ng-value-container .ng-value {
  padding: 0.35rem !important;
}
.customNgSelect ::ng-deep .ng-select-container {
  min-height: 46px !important;
}
.customNgSelect ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 14px !important;
  font-family: latoMeduim,cairoMeduim !important;
}
.customNgSelect::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: #89a8cf1a !important;
}
.customNgSelect ::ng-deep .ng-clear-wrapper:hover .ng-clear {
  color: unset !important;
}
.customNgSelect ::ng-deep .ng-dropdown-panel.ng-select-bottom {
  border: 1px solid #e2e9f3 !important;
  border-top-color: #e2e9f3 !important;
  margin-top: 0px !important;
  border-radius: 5px !important;
}
.customNgSelect ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: unset !important;
}
.customNgSelect ::ng-deep  .ng-arrow-wrapper{
  padding-bottom: 7px !important;
}
.customNgSelect ::ng-deep .ng-arrow-wrapper .ng-arrow{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.customNgSelect.ng-select-opened ::ng-deep .ng-arrow{ 
  transform: rotate(-135deg) !important;
  -webkit-transform: rotate(-135deg) !important;
}
.customNgSelect.ng-select-multiple ::ng-deep  .ng-select-container .ng-value-container .ng-placeholder{
  top: 12px !important;
}
.customNgSelect::ng-deep .ng-clear-wrapper {
  display: none !important;
}

.ngselect ::ng-deep .ng-select-container .ng-arrow-wrapper .ng-arrow {
  border: 2px solid #2dd576;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-bottom: 0.2em;
}

.ngselect.ng-select-opened ::ng-deep .ng-select-container .ng-arrow {
  transform: rotate(-135deg);
  margin-bottom: unset !important;
}

.ngselect ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: #89a8cf;
}

.ngselect ::ng-deep.ng-option.ng-option-selected .ng-option-label {
  color: #2dd576 !important;
  font-weight: unset !important;
}

.ngselect ::ng-deep.ng-value {
  color: #2dd576;
}

.ngselect ::ng-deep.ng-select-container,
.ngselect.ng-select-focused:not(.ng-select-opened)::ng-deep
  .ng-select-container {
  border: 1px solid #2dd576;
  border-radius: 14px !important;
  min-height: 30px !important;
  height: 30px !important;
}

.ngselect ::ng-deep.ng-dropdown-panel {
  box-shadow: 0px 1px 4px #3762f633 !important;
  border-radius: 5px;
  border: unset !important;
}

.ngselect ::ng-deep.ng-dropdown-panel.ng-select-bottom {
  top: 116% !important;
}

.ngselect
  ::ng-deep.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-color: unset !important;
  background-image: url("../../../../assets/images/svg/icons/check.svg");
  background-repeat: no-repeat;
  /* background-position-x: 98%; */
  background-position-y: 50%;
  background-size: 15%;
}
.ngselect
  ::ng-deep.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-marked {
  background-color: unset !important;
}

.router-link-active {
  background: #0049c9 0% 0% no-repeat padding-box !important;
  border-radius: 10px !important;
  opacity: 1;
  color: #ffffff !important;
}
.nav {
  background: #f6faff 0% 0% no-repeat padding-box;
}
