<div *ngIf="course && session">
  <div class="mt-2 mb-5 d-flex align-items-center">
    <span [routerLink]="['/formation']" class="latoBlack f32 deepBlue clickableTr" translate>Sessions</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2 blueArrow" alt="">
    <span routerLink="/formation/stuff/{{ param }}" class="latoBold f18 deepBlue clickableTr">{{session.name}}</span>
    <img src="../../../assets/images/svg/icons/blueArrow.svg" class="mx-2 blueArrow" alt="">
    <span class="latoBold f14 deepBlue">{{course.name}}</span>
  </div>
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column mr-2">
        <div class="d-flex align-items-center">
          <span class="latoBold f18 deepBlue mr-3 mr-md-5 noWrap">{{course.name}}</span>
        </div>
      </div>
      <ng-select appearance="outline" [searchable]="false" [clearable]="false" labelForId="heroId"
        class="ngselect latoBold f12 pb-1 ng-select" (change)="onChange($event)" [(ngModel)]="course.is_active"
        placeholder="{{ 'Sélectionner' | translate }}">
        <ng-option [value]="true" translate>
          Active
        </ng-option>
        <ng-option [value]="false" translate>
          Inactive
        </ng-option>
      </ng-select>
    </div>
    <div>
      <div *ngIf="course">
        <app-information [showDiv]="true" *ngIf="activateRoute==='information'"></app-information>
        <button *ngIf="StudentdetailsComponent?.checkedStudents?.length>0 && activateRoute==='student-details'"
          class="btn dangerousBtn latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="deleteModal.deleteModal.show()"
          translate>Supprimer</button>
        <button *ngIf="activateRoute==='student-details' "
          class="btn primaryButton latoBold py-6 px-5 mr-3 borderRadsuis10 f14" (click)="openStudentModal()"
          translate>Ajouter un étudiant</button>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <ul class="nav py-2">
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['information']"
          routerLinkActive="router-link-active" (click)="changeRoute('information')" translate>Informations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['student-details']"
          (click)="changeRoute('student-details')" routerLinkActive="router-link-active" translate>Etudiants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link latoBold f14 deepBlue py-6 px-4" [routerLink]="['modification']"
          (click)="changeRoute('modification')" routerLinkActive="router-link-active" translate>Historique de
          modification</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <app-studentdetails #StudentdetailsComponent *ngIf="activateRoute==='student-details'"></app-studentdetails>
    <app-information *ngIf="activateRoute==='information'"></app-information>
    <app-modifcation *ngIf="activateRoute==='modification'"></app-modifcation>
  </div>
</div>
<app-confirmation-modal #deleteModal (onConfirm)="onConfirm($event)"></app-confirmation-modal>
<div bsModal #addStudent="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn p-0 closeButton" (click)="addStudent.hide()">
          <img src="../../assets/images/svg/icons/X.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="p-3 p-md-4">
          <div class="d-flex justify-content-between">
            <span class="latoBold f24 black" translate>Ajouter des étudiants</span>
            <button class="btn primaryButton latoBold py-6 px-md-5 px-3 borderRadsuis10 f14" (click)="addMemeberShip()"
              translate>Sauvegarder</button>
          </div>
          <div class="mt-4">
            <div class="form-group mb-4">
              <label for="sessionName" class="latoBold f14 deepBlue" translate>Nom de l'etudiant<span
                  class="redColor">*</span></label>
              <ng-select [items]="students" (search)="onSearch($event)" bindLabel="user.full_name" 
                [multiple]="true" [hideSelected]="false" placeholder="{{ 'Nom de la formation' | translate }}"
                [clearable]="true" [(ngModel)]="selectedStudents" class="latoMeduim f14 deepBlue customNgSelect"
                [dropdownPosition]="'bottom'">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>